Repository Quansight/Quansight-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gabalafou, @pavithraes, @trallard, @rgommers, @bskinn

PEP 517 build system popularity: move setup.cfg label in fig3
  apps/labs/public/posts/pep-517-build-system-popularity/fig3.svg
Owners: @pavithraes, @trallard, @rgommers

PEP 517 build system popularity: fixes to figure 3 readability (#905)
  apps/labs/posts/pep-517-build-system-popularity.md
  apps/labs/public/posts/pep-517-build-system-popularity/fig3.svg
Owners: @pavithraes, @trallard, @rgommers

PEP 517 build system popularity: fix a typo
  apps/labs/posts/pep-517-build-system-popularity.md
Owners: @pavithraes, @trallard, @rgommers

PEP 517 build system popularity: fix a typo (#906)
  apps/labs/posts/pep-517-build-system-popularity.md
Owners: @pavithraes, @trallard, @rgommers

[BLOG]: Mastering DuckDB when you're used to pandas or Polars (#903)
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  apps/labs/posts/duckdb-when-used-to-frames.md
  apps/labs/public/posts/duckdb-when-used-to-frames/featured.jpg
  apps/labs/public/posts/duckdb-when-used-to-frames/hero.jpg
Owners: @gabalafou, @pavithraes, @trallard, @rgommers

Correct "published date" of "duckdb when used to frames" post
  apps/labs/posts/duckdb-when-used-to-frames.md
Owners: @pavithraes, @trallard, @rgommers

Correct "published date" of "duckdb when used to frames" post (#907)
  apps/labs/posts/duckdb-when-used-to-frames.md
Owners: @pavithraes, @trallard, @rgommers

[ENH] Improvised blog post content
  apps/labs/posts/intel-oneapi-msvc-spin-scipy.md
Owners: @pavithraes, @trallard, @rgommers

[ENH] Improve blog post content
  apps/labs/posts/intel-oneapi-msvc-spin-scipy.md
Owners: @pavithraes, @trallard, @rgommers

[ENH] Updated video links
  apps/labs/posts/intel-oneapi-msvc-spin-scipy.md
Owners: @pavithraes, @trallard, @rgommers

[ENH] Split blog post into separate lines
  apps/labs/posts/intel-oneapi-msvc-spin-scipy.md
Owners: @pavithraes, @trallard, @rgommers

[ENH] Improve formatting
  apps/labs/posts/intel-oneapi-msvc-spin-scipy.md
Owners: @pavithraes, @trallard, @rgommers

[ENH] Adding short text description of asciinema videos
  apps/labs/posts/intel-oneapi-msvc-spin-scipy.md
Owners: @pavithraes, @trallard, @rgommers

Apply suggestions from content review
  apps/labs/posts/intel-oneapi-msvc-spin-scipy.md
Owners: @pavithraes, @trallard, @rgommers

Add link to SciPy issue for arpack segfault
  apps/labs/posts/intel-oneapi-msvc-spin-scipy.md
Owners: @pavithraes, @trallard, @rgommers

Update README.md
  README.md
Owners: @gabalafou

Provide link to 2024 annual report
  apps/labs/pages/api/annual-report.pdf.ts
Owners: @gabalafou

Update duckdb-when-used-to-frames.md
  apps/labs/posts/duckdb-when-used-to-frames.md
Owners: @pavithraes, @trallard, @rgommers

Update duckdb-when-used-to-frames.md (#910)
  apps/labs/posts/duckdb-when-used-to-frames.md
Owners: @pavithraes, @trallard, @rgommers

Add blog post with infographic
  apps/labs/posts/labs-annual-report-2024.md
  apps/labs/public/posts/labs-annual-report-2024/featured.png
  apps/labs/public/posts/labs-annual-report-2024/infographic.png
Owners: @pavithraes, @trallard, @rgommers

Update README.md (#908)
  README.md
Owners: @gabalafou

Update apps/labs/posts/labs-annual-report-2024.md
  apps/labs/posts/labs-annual-report-2024.md
Owners: @pavithraes, @trallard, @rgommers

Update apps/labs/posts/labs-annual-report-2024.md
  apps/labs/posts/labs-annual-report-2024.md
Owners: @pavithraes, @trallard, @rgommers

Update featured image, add alt-text for hero/featured images, update blog title and infographic
  apps/labs/posts/labs-annual-report-2024.md
  apps/labs/public/posts/labs-annual-report-2024/featured.png
  apps/labs/public/posts/labs-annual-report-2024/hero.png
  apps/labs/public/posts/labs-annual-report-2024/infographic.png
Owners: @pavithraes, @trallard, @rgommers

transcribe infographic as screen reader only markup
  apps/labs/posts/labs-annual-report-2024.md
Owners: @pavithraes, @trallard, @rgommers

incorporate some edits made to alt text
  apps/labs/posts/labs-annual-report-2024.md
Owners: @pavithraes, @trallard, @rgommers

add missing years
  apps/labs/posts/labs-annual-report-2024.md
Owners: @pavithraes, @trallard, @rgommers

Update oss fund description
  apps/labs/posts/labs-annual-report-2024.md
  apps/labs/public/posts/labs-annual-report-2024/infographic.png
Owners: @pavithraes, @trallard, @rgommers

Update link to final PDF
  apps/labs/pages/api/annual-report.pdf.ts
Owners: @gabalafou

Provide link to 2024 annual report (#909)
  apps/labs/pages/api/annual-report.pdf.ts
Owners: @gabalafou

Update link to include .pdf extension
  apps/labs/posts/labs-annual-report-2024.md
Owners: @pavithraes, @trallard, @rgommers

BLOG: Quansight Labs Annual Report 2024 (#911)
  apps/labs/posts/labs-annual-report-2024.md
  apps/labs/public/posts/labs-annual-report-2024/featured.png
  apps/labs/public/posts/labs-annual-report-2024/hero.png
  apps/labs/public/posts/labs-annual-report-2024/infographic.png
Owners: @pavithraes, @trallard, @rgommers

[ImgBot] Optimize images
  apps/labs/public/posts/czi-eoss-5-conda-forge/conda-forge-new-1.png
  apps/labs/public/posts/czi-eoss-5-conda-forge/conda-forge-new-2.png
  apps/labs/public/posts/czi-eoss-5-conda-forge/conda-forge-new-3.png
  apps/labs/public/posts/czi-eoss-5-conda-forge/conda-forge-old-2.png
  apps/labs/public/posts/czi-eoss-5-conda-forge/conda-forge-old-3.png
  apps/labs/public/posts/czi-eoss-5-conda-forge/conda-forge-old-4.png
  apps/labs/public/posts/czi-eoss-5-conda-forge/conda-forge-old-5.png
  apps/labs/public/posts/czi-eoss-5-conda-forge/conda-forge-old-6.png
  apps/labs/public/posts/duckdb-when-used-to-frames/featured.jpg
  apps/labs/public/posts/duckdb-when-used-to-frames/hero.jpg
  apps/labs/public/posts/labs-annual-report-2024/featured.png
  apps/labs/public/posts/labs-annual-report-2024/hero.png
  apps/labs/public/posts/labs-annual-report-2024/infographic.png
  apps/labs/public/posts/napari-conda-constructor-menuinst/napari-empty.png
  apps/labs/public/posts/napari-conda-constructor-menuinst/napari-icon-on-macos.png
  apps/labs/public/posts/napari-conda-constructor-menuinst/napari-plugin-manager.png
  apps/labs/public/posts/napari-conda-constructor-menuinst/napari-windows-installer.png
  apps/labs/public/posts/pep-517-build-system-popularity/featured.jpeg
  apps/labs/public/posts/pep-517-build-system-popularity/fig1.svg
  apps/labs/public/posts/pep-517-build-system-popularity/fig2.svg
  apps/labs/public/posts/pep-517-build-system-popularity/fig3.svg
  apps/labs/public/posts/pep-517-build-system-popularity/hero.jpeg
Owners: @pavithraes, @trallard, @rgommers

Lock dimensions of infographic, add image map
  apps/labs/posts/labs-annual-report-2024.md
Owners: @pavithraes, @trallard, @rgommers

class to className
  apps/labs/posts/labs-annual-report-2024.md
Owners: @pavithraes, @trallard, @rgommers

Remove link markup from email because it automatically gets linkified
  apps/labs/posts/labs-annual-report-2024.md
Owners: @pavithraes, @trallard, @rgommers

undo email de-link-ification
  apps/labs/posts/labs-annual-report-2024.md
Owners: @pavithraes, @trallard, @rgommers

Linkify and lock size of infographic (2024 annual report) (#914)
  apps/labs/posts/labs-annual-report-2024.md
Owners: @pavithraes, @trallard, @rgommers

Small fixes for 2024 report blog post (#913)
  apps/labs/posts/labs-annual-report-2024.md
Owners: @pavithraes, @trallard, @rgommers

Use asciinema preview-links for videos
  apps/labs/posts/intel-oneapi-msvc-spin-scipy.md
Owners: @pavithraes, @trallard, @rgommers

.github/CODEOWNERS:

# Gabriel as default owner
*   @gabalafou

# Pavithra as reviewer for Markdown examples
/examples   @pavithraes

# Pavithra, Tania & Ralf as default reviewers for Labs blogs and assets
/apps/labs/posts          @pavithraes  @trallard  @rgommers
/apps/labs/public/posts   @pavithraes  @trallard  @rgommers

# Pavithra as default reviewer for changes to Labs Storyblok content
# Tania/Ralf/others to be manually added as appropriate
/apps/labs/CHANGELOG.md   @pavithraes

# Brian as default reviewer for changes to LLC Storyblok content
# Kate/others to be manually added as appropriate
/apps/consulting/CHANGELOG.md   @bskinn
