Repository Quansight/Quansight-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gabalafou, @pavithraes, @trallard, @rgommers, @bskinn

.github/CODEOWNERS:

# Gabriel as default owner
*   @gabalafou

# Pavithra as reviewer for Markdown examples
/examples   @pavithraes

# Pavithra, Tania & Ralf as default reviewers for Labs blogs and assets
/apps/labs/posts          @pavithraes  @trallard  @rgommers
/apps/labs/public/posts   @pavithraes  @trallard  @rgommers

# Pavithra as default reviewer for changes to Labs Storyblok content
# Tania/Ralf/others to be manually added as appropriate
/apps/labs/CHANGELOG.md   @pavithraes

# Brian as default reviewer for changes to LLC Storyblok content
# Kate/others to be manually added as appropriate
/apps/consulting/CHANGELOG.md   @bskinn

git ignore .nx/ and .next/ (#856)
  .gitignore
Owners: @gabalafou

Revert "fix(deps): bump the nx group with 10 updates (#817)"
  package-lock.json
  package.json
Owners: @gabalafou

Revert "fix(deps): bump the nx group with 10 updates (#817)" (#858)
  package-lock.json
  package.json
Owners: @gabalafou

Apply suggestions from code review
  apps/labs/posts/sparse-array-ecosystem.md
Owners: @pavithraes, @trallard, @rgommers

Apply suggestions from code review
  apps/labs/posts/sparse-array-ecosystem.md
Owners: @pavithraes, @trallard, @rgommers

Apply suggestions from code review
  apps/labs/posts/sparse-array-ecosystem.md
Owners: @pavithraes, @trallard, @rgommers

Apply suggestions from code review
  apps/labs/posts/sparse-array-ecosystem.md
Owners: @pavithraes, @trallard, @rgommers

Apply suggestions from code review
  apps/labs/posts/sparse-array-ecosystem.md
Owners: @pavithraes, @trallard, @rgommers

Apply suggestions from code review
  apps/labs/posts/sparse-array-ecosystem.md
Owners: @pavithraes, @trallard, @rgommers

Apply suggestions from code review
  apps/labs/posts/sparse-array-ecosystem.md
Owners: @pavithraes, @trallard, @rgommers

Apply suggestions from code review
  apps/labs/posts/sparse-array-ecosystem.md
Owners: @pavithraes, @trallard, @rgommers

Apply suggestions from code review
  apps/labs/posts/sparse-array-ecosystem.md
Owners: @pavithraes, @trallard, @rgommers

Apply suggestions from code review
  apps/labs/posts/sparse-array-ecosystem.md
Owners: @pavithraes, @trallard, @rgommers

Apply suggestions from code review
  apps/labs/posts/sparse-array-ecosystem.md
Owners: @pavithraes, @trallard, @rgommers

Apply suggestions from code review
  apps/labs/posts/sparse-array-ecosystem.md
Owners: @pavithraes, @trallard, @rgommers

Apply suggestions from code review
  apps/labs/posts/sparse-array-ecosystem.md
Owners: @pavithraes, @trallard, @rgommers

Apply suggestions from code review
  apps/labs/posts/sparse-array-ecosystem.md
Owners: @pavithraes, @trallard, @rgommers

geocoding post
  apps/consulting/posts/geocoding.md
Owners: @gabalafou

dont mention exact cost of geocoding
  apps/consulting/posts/geocoding.md
Owners: @gabalafou

add images
  apps/consulting/posts/geocoding.md
  apps/consulting/public/posts/geocoding/featured.jpg
  apps/consulting/public/posts/geocoding/hero.jpg
Owners: @gabalafou

add images
  apps/consulting/posts/geocoding.md
Owners: @gabalafou

add some links
  apps/consulting/posts/geocoding.md
Owners: @gabalafou

Fix publication date
  apps/labs/posts/sparse-array-ecosystem.md
Owners: @pavithraes, @trallard, @rgommers

BLOG: Add Sparse ecosystem blog post. (#837)
  apps/labs/posts/sparse-array-ecosystem.md
  apps/labs/public/posts/sparse-array-ecosystem/title.png
Owners: @pavithraes, @trallard, @rgommers

Add blog post about free-threaded CPython ecosystem rollout
  apps/labs/posts/free-threaded-python-rollout.md
  apps/labs/posts/py_free_threading_tracker.png
Owners: @pavithraes, @trallard, @rgommers

fix rendering issues
  apps/labs/posts/free-threaded-python-rollout.md
Owners: @pavithraes, @trallard, @rgommers

Fix rendering issue, apply one review comment
  apps/labs/posts/free-threaded-python-rollout.md
  apps/labs/public/posts/free-threaded-python-rollout/py_free_threading_tracker.png
Owners: @pavithraes, @trallard, @rgommers

Link to and be clearer about the ecosystem-wide GitHub repo
  apps/labs/posts/free-threaded-python-rollout.md
Owners: @pavithraes, @trallard, @rgommers

now really fix rendering
  apps/labs/posts/free-threaded-python-rollout.md
Owners: @pavithraes, @trallard, @rgommers

now try to shrink the image
  apps/labs/posts/free-threaded-python-rollout.md
Owners: @pavithraes, @trallard, @rgommers

add a sentence on installing
  apps/labs/posts/free-threaded-python-rollout.md
Owners: @pavithraes, @trallard, @rgommers

last tweak
  apps/labs/posts/free-threaded-python-rollout.md
Owners: @pavithraes, @trallard, @rgommers

Update publication date
  apps/labs/posts/free-threaded-python-rollout.md
Owners: @pavithraes, @trallard, @rgommers

Add blog post about free-threaded CPython ecosystem rollout (#865)
  apps/labs/posts/free-threaded-python-rollout.md
  apps/labs/public/posts/free-threaded-python-rollout/py_free_threading_tracker.png
Owners: @pavithraes, @trallard, @rgommers

Fix madicken’s name
  apps/labs/posts/free-threaded-python-rollout.md
Owners: @pavithraes, @trallard, @rgommers

Fix madicken’s name (#866)
  apps/labs/posts/free-threaded-python-rollout.md
Owners: @pavithraes, @trallard, @rgommers

[BLOG] PyData Sphinx Theme Accessibility Fixes
  apps/labs/components/LinkWithArrow/LinkWithArrow.tsx
  apps/labs/components/Posts/FeaturedPosts/FeaturedPosts.tsx
  apps/labs/components/Posts/PostListItem/PostListItem.tsx
  apps/labs/posts/pydata-theme-a11y-fixes.mdx
  apps/labs/public/posts/pydata-theme-a11y-fixes/ambiguous-summary.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/chrome-button-focus-ring.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/chrome-button.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-copy-button-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-copy-button-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-dropdown-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-dropdown-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-frankenstate-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-frankenstate-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-header-nav-link-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-header-nav-link-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-left-toc-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-left-toc-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-more-dropdown-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-more-dropdown-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-right-toc-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-right-toc-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-tile-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-tile-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-toggle-admonition-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-toggle-admonition-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-version-dropdown-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-version-dropdown-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/landmarks-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/landmarks-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/sidebar-toc-after-1-ring-around-link.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/sidebar-toc-after-2-ring-around-toggle.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/sidebar-toc-before.png
  package-lock.json
Owners: @gabalafou, @pavithraes, @trallard, @rgommers

[BLOG] The Convoluted Story Behind np.top_k
  apps/labs/posts/convoluted-story-behind-topk.md
  apps/labs/public/posts/convoluted-story-behind-topk/NumPy_logo_2020.svg
Owners: @pavithraes, @trallard, @rgommers

fix: change svg images to png
  apps/labs/posts/convoluted-story-behind-topk.md
  apps/labs/public/posts/convoluted-story-behind-topk/NumPy_logo_2020.svg
  apps/labs/public/posts/convoluted-story-behind-topk/NumPy_logo_2020.svg.png
Owners: @pavithraes, @trallard, @rgommers

fix: front-matter on blog post
  apps/labs/posts/convoluted-story-behind-topk.md
Owners: @pavithraes, @trallard, @rgommers
