Repository Quansight/Quansight-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gabalafou, @pavithraes, @trallard, @rgommers, @bskinn

.github/CODEOWNERS:

# Gabriel as default owner
*   @gabalafou

# Pavithra as reviewer for Markdown examples
/examples   @pavithraes

# Pavithra, Tania & Ralf as default reviewers for Labs blogs and assets
/apps/labs/posts          @pavithraes  @trallard  @rgommers
/apps/labs/public/posts   @pavithraes  @trallard  @rgommers

# Pavithra as default reviewer for changes to Labs Storyblok content
# Tania/Ralf/others to be manually added as appropriate
/apps/labs/CHANGELOG.md   @pavithraes

# Brian as default reviewer for changes to LLC Storyblok content
# Kate/others to be manually added as appropriate
/apps/consulting/CHANGELOG.md   @bskinn

Update apps/consulting/posts/review-functorch-contribution.md
  apps/consulting/posts/review-functorch-contribution.md
Owners: @gabalafou

address review
  apps/consulting/posts/review-functorch-contribution.md
Owners: @gabalafou

address review
  apps/consulting/posts/review-functorch-contribution.md
Owners: @gabalafou

address review
  apps/consulting/posts/review-functorch-contribution.md
Owners: @gabalafou

[MAINT] use SVG for SciPy array API post hero (#787)
  apps/labs/posts/scipy-array-api.md
  apps/labs/public/posts/scipy-array-api/scipy-array-api-hero.png
  apps/labs/public/posts/scipy-array-api/scipy-array-api-hero.svg
Owners: @pavithraes, @trallard, @rgommers

Revert "Update Labs blogs social cards to use featuredImage (#744)"
  README.md
  apps/labs/pages/blog/[slug].tsx
Owners: @gabalafou

Fetch annual report PDF instead of redirecting (#757)
  apps/labs/pages/api/annual-report.pdf.ts
Owners: @gabalafou

Remove exploratory files & switch to stock hero
  apps/labs/posts/sympy-documentation.md
  apps/labs/public/posts/sympy-documentation/blog_hero_var2.svg
  apps/labs/public/posts/sympy-documentation/sympy-docs-hero-composite-115pct.png
  apps/labs/public/posts/sympy-documentation/sympy-docs-hero-composite-135pct-yshift.png
  apps/labs/public/posts/sympy-documentation/sympy-docs-hero-composite-135pct-yshift2.png
  apps/labs/public/posts/sympy-documentation/sympy-docs-hero-composite-135pct.png
  apps/labs/public/posts/sympy-documentation/sympy-docs-hero-composite-export.png
  apps/labs/public/posts/sympy-documentation/sympy-docs-hero-composite.png
  apps/labs/public/posts/sympy-documentation/sympy-logo.png
Owners: @pavithraes, @trallard, @rgommers

Add SymPy logo and exploratory heroes
  apps/labs/posts/sympy-documentation.md
  apps/labs/public/posts/sympy-documentation/sympy-docs-hero-composite-115pct.png
  apps/labs/public/posts/sympy-documentation/sympy-docs-hero-composite-135pct-yshift.png
  apps/labs/public/posts/sympy-documentation/sympy-docs-hero-composite-135pct-yshift2.png
  apps/labs/public/posts/sympy-documentation/sympy-docs-hero-composite-135pct.png
  apps/labs/public/posts/sympy-documentation/sympy-docs-hero-composite-export.png
  apps/labs/public/posts/sympy-documentation/sympy-docs-hero-composite.png
  apps/labs/public/posts/sympy-documentation/sympy-logo-2-1.png
  apps/labs/public/posts/sympy-documentation/sympy-logo.png
Owners: @pavithraes, @trallard, @rgommers

Switch featured image to white background
  apps/labs/posts/sympy-documentation.md
  apps/labs/public/posts/sympy-documentation/sympy-logo-2-1-whitebg.png
Owners: @pavithraes, @trallard, @rgommers

[BLOG] Add numba engine in pandas apply (#791)
  apps/labs/posts/unlocking-c-level-performance-in-df-apply.md
  apps/labs/public/posts/unlocking-c-level-performance-in-df-apply/loglogplot.png
  apps/labs/public/posts/unlocking-c-level-performance-in-df-apply/pandas-logo.png
Owners: @pavithraes, @trallard, @rgommers

[BLOG] Add NumPy Python API cleanup post (#790)
  apps/labs/posts/numpy-python-api-cleanup.md
  apps/labs/public/posts/numpy-python-api-cleanup/numpy-python-api-cleanup-hero.png
  apps/labs/public/posts/numpy-python-api-cleanup/numpy-python-api-cleanup-logo.png
Owners: @pavithraes, @trallard, @rgommers

[BLOG] Integrating Hypothesis into SymPy' blog post (#782)
  apps/labs/posts/integrating-hypothesis-into-sympy.md
  apps/labs/public/posts/integrating-hypothesis-into-sympy/blog_feature_org.png
  apps/labs/public/posts/integrating-hypothesis-into-sympy/blog_hero_var2.svg
Owners: @pavithraes, @trallard, @rgommers

[BLOG FIX] Switch featured image for Numba polynomials post & edit NumPy post date format (#803)
  apps/labs/posts/numba-polynomial-support.md
  apps/labs/posts/numpy-python-api-cleanup.md
  apps/labs/public/posts/numba-polynomial-support/numba-polynomial-featured-50pct.png
  apps/labs/public/posts/numba-polynomial-support/numba-polynomial-featured.png
Owners: @pavithraes, @trallard, @rgommers

Update post pub dates
  apps/labs/posts/doctesting-for-pydata-libraries.md
  apps/labs/posts/integrating-hypothesis-into-sympy.md
Owners: @pavithraes, @trallard, @rgommers

Labs blog post on SymPy Documentation (#794)
  apps/labs/posts/sympy-documentation.md
  apps/labs/public/posts/sympy-documentation/sympy-112-docs-main-page.png
  apps/labs/public/posts/sympy-documentation/sympy-112-docs-odes.png
  apps/labs/public/posts/sympy-documentation/sympy-17-docs-odes.png
  apps/labs/public/posts/sympy-documentation/sympy-docs-preview-link.png
  apps/labs/public/posts/sympy-documentation/sympy-docs-preview-page.png
  apps/labs/public/posts/sympy-documentation/sympy-survey-results.svg
Owners: @pavithraes, @trallard, @rgommers

[BLOG] the story about building scipy with flang on windows (#795)
  apps/labs/posts/building-scipy-with-flang.md
  apps/labs/public/posts/building-scipy-with-flang/ABI_meme.jpg
  apps/labs/public/posts/building-scipy-with-flang/hero.png
  apps/labs/public/posts/building-scipy-with-flang/scipy_indy.jpg
Owners: @pavithraes, @trallard, @rgommers

[BLOG] Add CuPy CZI grant year 1 report blog post (#802)
  apps/labs/posts/categories.json
  apps/labs/posts/cupy-czi-grant-year1.md
  apps/labs/public/posts/cupy-czi-grant-year1/blog_hero_var2.svg
  apps/labs/public/posts/cupy-czi-grant-year1/cupy_logo_1000px.png
  apps/labs/public/posts/cupy-czi-grant-year1/filtered_signals.png
  apps/labs/public/posts/cupy-czi-grant-year1/interp_performance.png
  apps/labs/public/posts/cupy-czi-grant-year1/noisy_signals.png
  apps/labs/public/posts/cupy-czi-grant-year1/original_signals.png
Owners: @pavithraes, @trallard, @rgommers

[MAINT] remove CuPy as a separate category on the Labs blog
  apps/labs/posts/categories.json
  apps/labs/posts/cupy-czi-grant-year1.md
Owners: @pavithraes, @trallard, @rgommers

[BLOG] Recreate Numba polynomial post from #769 (#789)
  apps/labs/posts/numba-polynomial-support.md
  apps/labs/public/posts/numba-polynomial-support/feature_grayscale-hi_res.png
  apps/labs/public/posts/numba-polynomial-support/feature_grayscale.png
  apps/labs/public/posts/numba-polynomial-support/featured.png
  apps/labs/public/posts/numba-polynomial-support/hero.png
  apps/labs/public/posts/numba-polynomial-support/numba-schematic.png
  apps/labs/public/posts/numba-polynomial-support/numba_logo.png
  apps/labs/public/posts/numba-polynomial-support/qlabs_logo.png
Owners: @pavithraes, @trallard, @rgommers

Apply suggestions from code review
  apps/labs/posts/integrating-hypothesis-into-sympy.md
Owners: @pavithraes, @trallard, @rgommers

Update content CHANGELOG with Labs team changes (#792)
  apps/labs/CHANGELOG.md
Owners: @pavithraes

Add borders to screencaps
  apps/labs/public/posts/sympy-documentation/sympy-112-docs-main-page.png
  apps/labs/public/posts/sympy-documentation/sympy-112-docs-odes.png
  apps/labs/public/posts/sympy-documentation/sympy-17-docs-odes.png
  apps/labs/public/posts/sympy-documentation/sympy-docs-preview-page.png
Owners: @pavithraes, @trallard, @rgommers

Fix name in content CHANGELOG
  apps/labs/CHANGELOG.md
Owners: @pavithraes

Switch to large-field pandas logo for hero
  apps/labs/posts/unlocking-c-level-performance-in-df-apply.md
  apps/labs/public/posts/unlocking-c-level-performance-in-df-apply/pandas-logo-wide-field.png
Owners: @pavithraes, @trallard, @rgommers

Switch to large-field pandas logo for hero (#807)
  apps/labs/posts/unlocking-c-level-performance-in-df-apply.md
  apps/labs/public/posts/unlocking-c-level-performance-in-df-apply/pandas-logo-wide-field.png
Owners: @pavithraes, @trallard, @rgommers

Sync all nx to same version (13.8.5)
  .github/dependabot.yml
  package-lock.json
  package.json
Owners: @gabalafou

dependabot groups
  .github/dependabot.yml
Owners: @gabalafou

Sync all nx to same version (13.8.5) (#809)
  .github/dependabot.yml
  package-lock.json
  package.json
Owners: @gabalafou

Tell Dependabot to ignore major updates to Nx
  .github/dependabot.yml
Owners: @gabalafou

Remove Sass
  package.json
Owners: @gabalafou

Remove Sass (#486)
  package.json
Owners: @gabalafou

nx migrate 15.9.1
  migrations.json
  package.json
Owners: @gabalafou

npm install --force
  package-lock.json
Owners: @gabalafou

upgrade @testing-library/react, remove /react-hooks
  package.json
Owners: @gabalafou

npm install
  package-lock.json
Owners: @gabalafou

add .nx/cache to .gitignore
  .gitignore
Owners: @gabalafou

chore: [nx migration] 15-7-0-split-configuration-into-project-json-files
  apps/consulting/project.json
  apps/labs/project.json
  libs/shared/storyblok-sdk/project.json
  libs/shared/types/project.json
  libs/shared/ui-components/project.json
  libs/shared/utils/project.json
  package-lock.json
  workspace.json
Owners: @gabalafou

chore: [nx migration] 14-2-0-add-json-schema
  nx.json
Owners: @gabalafou

chore: [nx migration] 14.3.4-create-target-defaults
  nx.json
Owners: @gabalafou
