Repository Quansight/Quansight-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gabalafou, @pavithraes, @trallard, @rgommers, @bskinn

chore: [nx migration] 14-2-0-remove-default-collection
  nx.json
Owners: @gabalafou

chore: [nx migration] add-jest-inputs
  nx.json
Owners: @gabalafou

chore: [nx migration] 15.0.0-prefix-outputs
  apps/consulting/project.json
  apps/labs/project.json
  libs/shared/storyblok-sdk/project.json
  libs/shared/types/project.json
  libs/shared/ui-components/project.json
  libs/shared/utils/project.json
Owners: @gabalafou

chore: [nx migration] add-gitignore-entry
  .gitignore
Owners: @gabalafou

chore: [nx migration] add-dev-output-path
  apps/consulting/project.json
  apps/labs/project.json
Owners: @gabalafou

chore: [nx migration] 15.0.0-migrate-to-inputs
  nx.json
Owners: @gabalafou

chore: [nx migration] update-jest-config-extensions
  apps/consulting/jest.config.ts
  apps/consulting/project.json
  apps/consulting/tsconfig.json
  apps/labs/jest.config.ts
  apps/labs/project.json
  apps/labs/tsconfig.json
  jest.config.js
  jest.config.ts
  libs/shared/storyblok-sdk/jest.config.ts
  libs/shared/storyblok-sdk/project.json
  libs/shared/storyblok-sdk/tsconfig.lib.json
  libs/shared/storyblok-sdk/tsconfig.spec.json
  libs/shared/types/jest.config.ts
  libs/shared/types/project.json
  libs/shared/types/tsconfig.lib.json
  libs/shared/types/tsconfig.spec.json
  libs/shared/ui-components/jest.config.ts
  libs/shared/ui-components/project.json
  libs/shared/ui-components/tsconfig.lib.json
  libs/shared/ui-components/tsconfig.spec.json
  libs/shared/utils/jest.config.ts
  libs/shared/utils/project.json
  libs/shared/utils/tsconfig.lib.json
  libs/shared/utils/tsconfig.spec.json
Owners: @gabalafou

chore: [nx migration] add-default-development-configurations-14.0.0
  apps/consulting/project.json
  apps/labs/project.json
Owners: @gabalafou

chore: [nx migration] update-to-export-default
  apps/consulting/jest.config.ts
  apps/labs/jest.config.ts
  jest.config.ts
  jest.preset.js
  libs/shared/storyblok-sdk/jest.config.ts
  libs/shared/types/jest.config.ts
  libs/shared/ui-components/jest.config.ts
  libs/shared/utils/jest.config.ts
  package.json
Owners: @gabalafou

chore: [nx migration] update-dev-output-path
  apps/consulting/project.json
  apps/labs/project.json
Owners: @gabalafou

chore: [nx migration] add-eslint-inputs
  nx.json
Owners: @gabalafou

chore: [nx migration] 13-9-0-replace-tao-with-nx
  package.json
Owners: @gabalafou

chore: [nx migration] update-babel-jest-transform-option
  libs/shared/storyblok-sdk/jest.config.ts
Owners: @gabalafou

chore: [nx migration] 13-10-0-update-tasks-runner
  nx.json
Owners: @gabalafou

chore: [nx migration] add-babel-inputs
  nx.json
Owners: @gabalafou

chore: [nx migration] update-babel-preset
  package.json
Owners: @gabalafou

chore: [nx migration] update-react-18-13.10.0
  package.json
Owners: @gabalafou

chore: [nx migration] update-configs-jest-29
  jest.preset.js
  libs/shared/types/jest.config.ts
  libs/shared/ui-components/jest.config.ts
  libs/shared/utils/jest.config.ts
Owners: @gabalafou

package-lock.json was updated
  package-lock.json
Owners: @gabalafou

jest presets
  jest.preset.js
Owners: @gabalafou

next code mode no more Link > a
  apps/consulting/components/BlogArticle/BlogHeader/BlogHeaderLink.tsx
  apps/consulting/components/Board/BoardItem.tsx
  apps/consulting/components/LibraryLink/LibraryLink.tsx
  apps/consulting/components/Related/RelatedItem.tsx
  apps/consulting/pages/nebari-services.tsx
  apps/labs/components/LinkWithArrow/LinkWithArrow.tsx
  apps/labs/components/Posts/FeaturedPosts/FeaturedPosts.tsx
  apps/labs/components/Posts/PostListItem/PostListItem.tsx
  libs/shared/ui-components/src/ButtonLink/ButtonLink.tsx
  libs/shared/ui-components/src/Footer/FooterColumnProvider/FooterContact.tsx
  libs/shared/ui-components/src/Footer/FooterLink/FooterLinkWrapper.tsx
  libs/shared/ui-components/src/Header/Common/HeaderLogo.tsx
  libs/shared/ui-components/src/Header/HeaderDesktop/HeaderDesktopNavigationProvider/HeaderDesktopLink.tsx
  libs/shared/ui-components/src/Logos/Logos.tsx
  libs/shared/ui-components/src/Team/TeamMember/TeamMemberGithub.tsx
Owners: @gabalafou

remove experimenal image flag and import
  apps/consulting/next.config.js
  apps/consulting/pages/nebari-services.tsx
Owners: @gabalafou

use legacy image import in Picture component
  libs/shared/ui-components/src/Picture/Picture.tsx
Owners: @gabalafou

fix eslint configs
  apps/consulting/.eslintrc.json
  apps/labs/.eslintrc.json
  libs/shared/storyblok-sdk/.eslintrc.json
  libs/shared/types/.eslintrc.json
  libs/shared/ui-components/.eslintrc.json
  libs/shared/utils/.eslintrc.json
Owners: @gabalafou

use edge, not experimental-edge
  apps/labs/pages/api/annual-report.pdf.ts
Owners: @gabalafou

update nx.json
  nx.json
Owners: @gabalafou

fix type error
  apps/labs/components/LinkWithArrow/LinkWithArrow.tsx
Owners: @gabalafou

add @ts-expect-error to Page.tsx
  libs/shared/ui-components/src/Page/Page.tsx
Owners: @gabalafou

update type import in Picture/types
  libs/shared/ui-components/src/Picture/types.ts
Owners: @gabalafou

remove unused react-test-renderer
  package.json
Owners: @gabalafou

Tell Dependabot to ignore major updates to Nx (#814)
  .github/dependabot.yml
Owners: @gabalafou

Update Code Hike to 0.9.0
  package-lock.json
  package.json
Owners: @gabalafou

Remove/convert a first set of Code Hike languages
  apps/consulting/posts/review-functorch-contribution.md
  apps/labs/posts/cxx-numba-interoperability.md
  apps/labs/posts/making-gpus-accessible-to-pydata-ecosystem-via-array-api.md
  apps/labs/posts/quansight-labs-work-update-for-september-2019.md
  apps/labs/posts/sympy-documentation.md
  apps/labs/posts/whats-new-in-sympy-14.md
Owners: @gabalafou, @pavithraes, @trallard, @rgommers

Add build output reporting of .md file rendering
  apps/labs/services/posts/serializePost.ts
Owners: @gabalafou

Raise limit for warning about page size
  apps/labs/next.config.js
Owners: @gabalafou

Switch all code blocks to use valid Code Hike languages (#815)
  apps/consulting/posts/review-functorch-contribution.md
  apps/labs/posts/cxx-numba-interoperability.md
  apps/labs/posts/making-gpus-accessible-to-pydata-ecosystem-via-array-api.md
  apps/labs/posts/quansight-labs-work-update-for-september-2019.md
  apps/labs/posts/sympy-documentation.md
  apps/labs/posts/whats-new-in-sympy-14.md
  package-lock.json
  package.json
Owners: @gabalafou, @pavithraes, @trallard, @rgommers

blog: create Captioning: A Newcomer's Guide
  apps/labs/posts/captioning-a-newcomers-guide.md
Owners: @pavithraes, @trallard, @rgommers

blog: add images for Captioning: A Newcomer's Guide
  apps/labs/posts/captioning-a-newcomers-guide.md
  apps/labs/public/posts/captioning-a-newcomers-guide/blog_feature_1.png
  apps/labs/public/posts/captioning-a-newcomers-guide/blog_hero_1.svg
Owners: @pavithraes, @trallard, @rgommers

Fix up some very minor textual issues
  apps/labs/posts/captioning-a-newcomers-guide.md
Owners: @pavithraes, @trallard, @rgommers

Update apps/labs/posts/captioning-a-newcomers-guide.md
  apps/labs/posts/captioning-a-newcomers-guide.md
Owners: @pavithraes, @trallard, @rgommers

.github/CODEOWNERS:

# Gabriel as default owner
*   @gabalafou

# Pavithra as reviewer for Markdown examples
/examples   @pavithraes

# Pavithra, Tania & Ralf as default reviewers for Labs blogs and assets
/apps/labs/posts          @pavithraes  @trallard  @rgommers
/apps/labs/public/posts   @pavithraes  @trallard  @rgommers

# Pavithra as default reviewer for changes to Labs Storyblok content
# Tania/Ralf/others to be manually added as appropriate
/apps/labs/CHANGELOG.md   @pavithraes

# Brian as default reviewer for changes to LLC Storyblok content
# Kate/others to be manually added as appropriate
/apps/consulting/CHANGELOG.md   @bskinn
