Repository Quansight/Quansight-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gabalafou, @pavithraes, @trallard, @rgommers, @bskinn

.github/CODEOWNERS:

# Gabriel as default owner
*   @gabalafou

# Pavithra as reviewer for Markdown examples
/examples   @pavithraes

# Pavithra, Tania & Ralf as default reviewers for Labs blogs and assets
/apps/labs/posts          @pavithraes  @trallard  @rgommers
/apps/labs/public/posts   @pavithraes  @trallard  @rgommers

# Pavithra as default reviewer for changes to Labs Storyblok content
# Tania/Ralf/others to be manually added as appropriate
/apps/labs/CHANGELOG.md   @pavithraes

# Brian as default reviewer for changes to LLC Storyblok content
# Kate/others to be manually added as appropriate
/apps/consulting/CHANGELOG.md   @bskinn

blog (labs): mastering duckdb when you're used to pandas or polars part 2
  apps/labs/posts/duckdb-when-used-to-frames_part2.md
  apps/labs/public/posts/duckdb-when-used-to-frames-part2/featured.jpg
  apps/labs/public/posts/duckdb-when-used-to-frames-part2/hero.jpg
Owners: @pavithraes, @trallard, @rgommers

typo
  apps/labs/posts/duckdb-when-used-to-frames_part2.md
Owners: @pavithraes, @trallard, @rgommers

minor updates
  apps/labs/posts/duckdb-when-used-to-frames_part2.md
Owners: @pavithraes, @trallard, @rgommers

Apply suggestions from code review
  apps/labs/posts/duckdb-when-used-to-frames_part2.md
Owners: @pavithraes, @trallard, @rgommers

only include photo author at the end of alt
  apps/labs/posts/duckdb-when-used-to-frames_part2.md
Owners: @pavithraes, @trallard, @rgommers

Update current status of spin
  apps/labs/posts/intel-oneapi-msvc-spin-scipy.md
Owners: @pavithraes, @trallard, @rgommers

Added no build tag update
  apps/labs/posts/intel-oneapi-msvc-spin-scipy.md
Owners: @pavithraes, @trallard, @rgommers

Formatting change
  apps/labs/posts/intel-oneapi-msvc-spin-scipy.md
Owners: @pavithraes, @trallard, @rgommers

Apply suggestion for ARPACK
  apps/labs/posts/intel-oneapi-msvc-spin-scipy.md
Owners: @pavithraes, @trallard, @rgommers

Update publication date
  apps/labs/posts/intel-oneapi-msvc-spin-scipy.md
Owners: @pavithraes, @trallard, @rgommers

[BLOG] Added blog post for enhancing developer experience at SciPy - Intel oneAPI, MSVC and spin support (#893)
  apps/labs/posts/intel-oneapi-msvc-spin-scipy.md
  apps/labs/public/posts/intel-oneapi-msvc-spin-scipy/scipy_logo_img_featured.png
  apps/labs/public/posts/intel-oneapi-msvc-spin-scipy/scipy_logo_img_hero.png
Owners: @pavithraes, @trallard, @rgommers

[BLOG] Add 'one year of free-threaded Python' post
  apps/labs/posts/free-threaded-one-year-recap.md
  apps/labs/public/posts/free-threaded-one-year-recap/snake-cartoon.jpg
Owners: @pavithraes, @trallard, @rgommers

Apply suggestions from code review
  apps/labs/posts/free-threaded-one-year-recap.md
Owners: @pavithraes, @trallard, @rgommers

[BLOG] Add There are lots of accessibility resources
  apps/labs/posts/there-are-lots-of-accessibility-resources.md
Owners: @pavithraes, @trallard, @rgommers

Line break the post for easier review
  apps/labs/posts/free-threaded-one-year-recap.md
Owners: @pavithraes, @trallard, @rgommers

Update publication date and fix some minor textual issues
  apps/labs/posts/free-threaded-one-year-recap.md
Owners: @pavithraes, @trallard, @rgommers

Apply suggestions from code review
  apps/labs/posts/free-threaded-one-year-recap.md
Owners: @pavithraes, @trallard, @rgommers

[BLOG] Update There are lots of accessibility resources with links and images
  apps/labs/posts/there-are-lots-of-accessibility-resources.md
  apps/labs/public/posts/there-are-lots-of-accessibility-resources/featured.png
  apps/labs/public/posts/there-are-lots-of-accessibility-resources/hero.png
Owners: @pavithraes, @trallard, @rgommers

[BLOG] Add 'one year of free-threaded Python' post (#916)
  apps/labs/posts/free-threaded-one-year-recap.md
  apps/labs/public/posts/free-threaded-one-year-recap/snake-cartoon.jpg
Owners: @pavithraes, @trallard, @rgommers

[BLOG] tweaks for free-threading one year recap post
  apps/labs/posts/free-threaded-one-year-recap.md
Owners: @pavithraes, @trallard, @rgommers

[BLOG] tweaks for free-threading one year recap post (#918)
  apps/labs/posts/free-threaded-one-year-recap.md
Owners: @pavithraes, @trallard, @rgommers

Split README into two separate files
  README.md
  how-to-publish-a-new-blog-post.md
  site-admin.md
Owners: @gabalafou

fix top of blog post page
  how-to-publish-a-new-blog-post.md
Owners: @gabalafou

rewrite list as table
  how-to-publish-a-new-blog-post.md
Owners: @gabalafou

small fixes
  site-admin.md
Owners: @gabalafou

fix link
  site-admin.md
Owners: @gabalafou

improve intro paragraph
  how-to-publish-a-new-blog-post.md
Owners: @gabalafou

keep npm run start in readme
  README.md
  site-admin.md
Owners: @gabalafou

terser
  README.md
Owners: @gabalafou

add example
  apps/labs/posts/dask-array-api-scipy.md
Owners: @pavithraes, @trallard, @rgommers

[BLOG] Add There are lots of accessibility resources (#917)
  apps/labs/posts/there-are-lots-of-accessibility-resources.md
  apps/labs/public/posts/there-are-lots-of-accessibility-resources/featured.png
  apps/labs/public/posts/there-are-lots-of-accessibility-resources/hero.png
Owners: @pavithraes, @trallard, @rgommers

Split README into two separate files (#919)
  README.md
  how-to-publish-a-new-blog-post.md
  site-admin.md
Owners: @gabalafou

reuse images
  apps/labs/posts/dask-array-api-scipy.md
  apps/labs/public/posts/dask-array-api-scipy/scipy_logo_img_featured.png
  apps/labs/public/posts/dask-array-api-scipy/scipy_logo_img_hero.png
Owners: @pavithraes, @trallard, @rgommers

clarify intro
  apps/labs/posts/dask-array-api-scipy.md
Owners: @pavithraes, @trallard, @rgommers

Add conda ABI3 blog post
  apps/labs/posts/conda-abi3.md
  apps/labs/public/posts/conda-abi3/forge.jpg
Owners: @pavithraes, @trallard, @rgommers

fix post
  apps/labs/posts/conda-abi3.md
Owners: @pavithraes, @trallard, @rgommers

Add file and images
  apps/labs/posts/uarray-intro.md
  apps/labs/public/posts/uarray-intro/blog_hero_var1.svg
  apps/labs/public/posts/uarray-intro/blog_hero_var2.svg
Owners: @pavithraes, @trallard, @rgommers

Update image file path
  apps/labs/posts/uarray-intro.md
  apps/labs/public/posts/uarray-intro/blog_feature_var1.svg
  apps/labs/public/posts/uarray-intro/blog_hero_var2.svg
Owners: @pavithraes, @trallard, @rgommers

Use CH.Code component for notebook in-out pairs (#752)
  apps/labs/pages/styles.css
  apps/labs/posts/uarray-intro.mdx
Owners: @gabalafou, @pavithraes, @trallard, @rgommers

convert png to svg, create common shared public images folder
  apps/labs/posts/uarray-intro.mdx
  apps/labs/public/images/blog_feature_var1.png
  apps/labs/public/images/blog_hero_var1.svg
  apps/labs/public/posts/uarray-intro/blog_feature_var1.svg
  apps/labs/services/posts/serializePost.ts
Owners: @pavithraes, @trallard, @rgommers, @gabalafou
