Repository Quansight/Quansight-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gabalafou, @pavithraes, @trallard, @rgommers, @bskinn

fix: front-matter on blog post
  apps/labs/posts/convoluted-story-behind-topk.md
Owners: @pavithraes, @trallard, @rgommers

Small change to trigger CI
  apps/labs/posts/convoluted-story-behind-topk.md
Owners: @pavithraes, @trallard, @rgommers

Fix: Cover and hero image
  apps/labs/posts/convoluted-story-behind-topk.md
  apps/labs/public/posts/convoluted-story-behind-topk/NumPy_logo_2020.svg.png
  apps/labs/public/posts/convoluted-story-behind-topk/NumPy_logo_2020.webp
  apps/labs/public/posts/convoluted-story-behind-topk/NumPy_logo_2020_hero.webp
Owners: @pavithraes, @trallard, @rgommers

Fix: swap cover and hero image
  apps/labs/posts/convoluted-story-behind-topk.md
Owners: @pavithraes, @trallard, @rgommers

addressed comments
  apps/labs/posts/convoluted-story-behind-topk.md
Owners: @pavithraes, @trallard, @rgommers

fix one more upper-case word
  apps/labs/posts/convoluted-story-behind-topk.md
Owners: @pavithraes, @trallard, @rgommers

[BLOG] The Convoluted Story Behind `np.top_k` (#868)
  apps/labs/posts/convoluted-story-behind-topk.md
  apps/labs/public/posts/convoluted-story-behind-topk/NumPy_logo_2020.webp
  apps/labs/public/posts/convoluted-story-behind-topk/NumPy_logo_2020_hero.webp
Owners: @pavithraes, @trallard, @rgommers

[BLOG] Introducing the 2024 Labs Internship Program Cohort
  apps/labs/posts/2024-interns.md
  apps/labs/posts/categories.json
  apps/labs/public/posts/2024-interns/Anushka.jpeg
  apps/labs/public/posts/2024-interns/BrunoKind.jpg
  apps/labs/public/posts/2024-interns/Dea.png
  apps/labs/public/posts/2024-interns/JulesPoon.jpg
  apps/labs/public/posts/2024-interns/Pranav-slack.jpeg
  apps/labs/public/posts/2024-interns/SwayamSingh.png
  apps/labs/public/posts/2024-interns/projects-hero-desktop.png
  apps/labs/public/posts/2024-interns/projects-hero-mobile.png
Owners: @pavithraes, @trallard, @rgommers

[BLOG] Introducing the 2024 Labs Internship Program Cohort (#869)
  apps/labs/posts/2024-interns.md
  apps/labs/posts/categories.json
  apps/labs/public/posts/2024-interns/Anushka.jpeg
  apps/labs/public/posts/2024-interns/BrunoKind.jpg
  apps/labs/public/posts/2024-interns/Dea.png
  apps/labs/public/posts/2024-interns/JulesPoon.jpg
  apps/labs/public/posts/2024-interns/Pranav-slack.jpeg
  apps/labs/public/posts/2024-interns/SwayamSingh.png
  apps/labs/public/posts/2024-interns/projects-hero-desktop.png
  apps/labs/public/posts/2024-interns/projects-hero-mobile.png
Owners: @pavithraes, @trallard, @rgommers

[BLOG] Content update to Internship welcome post
  apps/labs/posts/2024-interns.md
Owners: @pavithraes, @trallard, @rgommers

[BLOG] Content update to Internship welcome post (#870)
  apps/labs/posts/2024-interns.md
Owners: @pavithraes, @trallard, @rgommers

check in working blog post
  apps/labs/posts/lib_sf_error_state.md
  apps/labs/public/posts/lib-sf-error-state/featured.png
  apps/labs/public/posts/lib-sf-error-state/gamma_function_plot.png
  apps/labs/public/posts/lib-sf-error-state/hero.png
  apps/labs/public/posts/lib-sf-error-state/n_sphere_volume.png
Owners: @pavithraes, @trallard, @rgommers

init
  apps/labs/posts/pandas-resample.md
Owners: @pavithraes, @trallard, @rgommers

images
  apps/labs/posts/pandas-resample.md
  apps/labs/public/posts/pandas-resample/pandas-logo-wide-field.png
  apps/labs/public/posts/pandas-resample/pandas-resample.png
Owners: @pavithraes, @trallard, @rgommers

Apply suggestions from code review
  apps/labs/posts/pydata-theme-a11y-fixes.mdx
Owners: @pavithraes, @trallard, @rgommers

edits
  apps/labs/posts/pydata-theme-a11y-fixes.mdx
Owners: @pavithraes, @trallard, @rgommers

suggestions
  apps/labs/posts/pydata-theme-a11y-fixes.mdx
Owners: @pavithraes, @trallard, @rgommers

blog: pandas-resample
  apps/labs/posts/pandas-resample.md
  apps/labs/public/posts/pandas-resample/pandas-logo-wide-field.png
  apps/labs/public/posts/pandas-resample/pandas-resample.png
Owners: @pavithraes, @trallard, @rgommers

introduce ms
  apps/labs/posts/pandas-resample.md
Owners: @pavithraes, @trallard, @rgommers

introduce ms
  apps/labs/posts/pandas-resample.md
Owners: @pavithraes, @trallard, @rgommers

Make blog title h1 not h2
  apps/consulting/components/FeatureArticle/FeatureArticle.tsx
Owners: @gabalafou

Change h2 to h1 in the right place
  apps/consulting/components/FeatureArticle/FeatureArticle.tsx
  apps/labs/components/Posts/PostMetaSection/PostMetaSection.tsx
Owners: @gabalafou

Fix headings in blog posts
  apps/labs/posts/better-interractive-jupyter-session-with-pyflyby.md
  apps/labs/posts/but-what-are-traitlets.md
  apps/labs/posts/code-generator-and-nebari.md
  apps/labs/posts/cxx-numba-interoperability.md
  apps/labs/posts/czi-eoss4-grants-at-quansight-labs.md
  apps/labs/posts/dataframe-interop-pycon-lit-2024.md
  apps/labs/posts/github-actions-benchmarks.md
  apps/labs/posts/integrating-hypothesis-into-sympy.md
  apps/labs/posts/ipython-8.0-lessons-learned-maintaining-software.md
  apps/labs/posts/jupyterlab-winter-theme.md
  apps/labs/posts/metadsl-talk.md
  apps/labs/posts/portable-python-env.md
  apps/labs/posts/python-library-function-usage.md
  apps/labs/posts/pytorch-ignite-distributed.md
  apps/labs/posts/pytorch-tensoriterator-internals-update.md
  apps/labs/posts/pytorch-tensoriterator-internals.md
  apps/labs/posts/quansight-labs-awarded-three-czi-eoss-cycle5-grants.md
  apps/labs/posts/release-spyder-4beta2.md
  apps/labs/posts/reproducible-builds.md
  apps/labs/posts/rethinking-jupyter-documentation.md
  apps/labs/posts/ruby-wrappers-for-the-xnd-project.mdx
  apps/labs/posts/scipy-ndimage-interpolation.md
  apps/labs/posts/sparse-array-ecosystem.md
  apps/labs/posts/sympy-documentation.md
  apps/labs/posts/whats-new-in-sympy-14.md
  apps/labs/posts/whats-next-for-pydatasparse.md
Owners: @pavithraes, @trallard, @rgommers

reword
  apps/labs/posts/dataframe-group-by.md
Owners: @pavithraes, @trallard, @rgommers

another pass
  apps/labs/posts/dataframe-group-by.md
Owners: @pavithraes, @trallard, @rgommers

[Blog] pandas Resample (#872)
  apps/labs/posts/pandas-resample.md
  apps/labs/public/posts/pandas-resample/pandas-logo-wide-field.png
  apps/labs/public/posts/pandas-resample/pandas-resample.png
Owners: @pavithraes, @trallard, @rgommers

title reword (and a few other rewords)
  apps/labs/posts/pydata-theme-a11y-fixes.mdx
Owners: @pavithraes, @trallard, @rgommers

suggestions
  apps/labs/posts/pydata-theme-a11y-fixes.mdx
Owners: @pavithraes, @trallard, @rgommers

cap image widths to 1000px
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-copy-button-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-copy-button-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-dropdown-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-dropdown-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-toggle-admonition-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-toggle-admonition-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/landmarks-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/landmarks-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/sidebar-toc-after-1-ring-around-link.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/sidebar-toc-after-2-ring-around-toggle.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/sidebar-toc-before.png
Owners: @pavithraes, @trallard, @rgommers

add image credit to alt text
  apps/labs/posts/pydata-theme-a11y-fixes.mdx
Owners: @pavithraes, @trallard, @rgommers

Apply suggestions from code review
  apps/labs/posts/pydata-theme-a11y-fixes.mdx
Owners: @pavithraes, @trallard, @rgommers

update publish date
  apps/labs/posts/pydata-theme-a11y-fixes.mdx
Owners: @pavithraes, @trallard, @rgommers

copy edits
  apps/labs/posts/pydata-theme-a11y-fixes.mdx
Owners: @pavithraes, @trallard, @rgommers

edits
  apps/labs/posts/pydata-theme-a11y-fixes.mdx
Owners: @pavithraes, @trallard, @rgommers

add featured image from Disabled and Here
  apps/labs/posts/pydata-theme-a11y-fixes.mdx
  apps/labs/public/posts/pydata-theme-a11y-fixes/magnification-app-sherm-for-disabled-and-here.png
Owners: @pavithraes, @trallard, @rgommers

Use the same image for hero and featured. Move image credit up. Some tweaks to the text.
  apps/labs/posts/pydata-theme-a11y-fixes.mdx
Owners: @pavithraes, @trallard, @rgommers

add link to original image
  apps/labs/posts/pydata-theme-a11y-fixes.mdx
Owners: @pavithraes, @trallard, @rgommers

[BLOG] PyData Sphinx Theme Accessibility Fixes
  apps/labs/components/LinkWithArrow/LinkWithArrow.tsx
  apps/labs/components/Posts/FeaturedPosts/FeaturedPosts.tsx
  apps/labs/components/Posts/PostListItem/PostListItem.tsx
  apps/labs/posts/pydata-theme-a11y-fixes.mdx
  apps/labs/public/posts/pydata-theme-a11y-fixes/ambiguous-summary.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/chrome-button-focus-ring.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/chrome-button.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-copy-button-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-copy-button-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-dropdown-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-dropdown-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-frankenstate-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-frankenstate-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-header-nav-link-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-header-nav-link-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-left-toc-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-left-toc-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-more-dropdown-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-more-dropdown-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-right-toc-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-right-toc-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-tile-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-tile-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-toggle-admonition-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-toggle-admonition-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-version-dropdown-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-version-dropdown-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/landmarks-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/landmarks-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/sidebar-toc-after-1-ring-around-link.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/sidebar-toc-after-2-ring-around-toggle.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/sidebar-toc-before.png
  package-lock.json
Owners: @gabalafou, @pavithraes, @trallard, @rgommers

more copy edits
  apps/labs/posts/pydata-theme-a11y-fixes.mdx
Owners: @pavithraes, @trallard, @rgommers

another reword
  apps/labs/posts/pydata-theme-a11y-fixes.mdx
Owners: @pavithraes, @trallard, @rgommers

.github/CODEOWNERS:

# Gabriel as default owner
*   @gabalafou

# Pavithra as reviewer for Markdown examples
/examples   @pavithraes

# Pavithra, Tania & Ralf as default reviewers for Labs blogs and assets
/apps/labs/posts          @pavithraes  @trallard  @rgommers
/apps/labs/public/posts   @pavithraes  @trallard  @rgommers

# Pavithra as default reviewer for changes to Labs Storyblok content
# Tania/Ralf/others to be manually added as appropriate
/apps/labs/CHANGELOG.md   @pavithraes

# Brian as default reviewer for changes to LLC Storyblok content
# Kate/others to be manually added as appropriate
/apps/consulting/CHANGELOG.md   @bskinn
