Repository Quansight/Quansight-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gabalafou, @pavithraes, @trallard, @rgommers, @bskinn

wip: polars innovation group-by
  apps/labs/posts/dataframe-group-by.md
Owners: @pavithraes, @trallard, @rgommers

improve structure
  apps/labs/posts/dataframe-group-by.md
Owners: @pavithraes, @trallard, @rgommers

Apply suggestions from code review - copy-edits
  apps/labs/posts/numpy-string-ufuncs.md
Owners: @pavithraes, @trallard, @rgommers

[BLOG] Add "Writing fast string ufuncs for NumPy 2.0" (#839)
  apps/labs/posts/numpy-string-ufuncs.md
  apps/labs/public/posts/numpy-string-ufuncs/benchmarks.png
  apps/labs/public/posts/numpy-string-ufuncs/numpy-string-ufuncs-hero.png
  apps/labs/public/posts/numpy-string-ufuncs/numpy-string-ufuncs-logo.png
Owners: @pavithraes, @trallard, @rgommers

add scikit-lego narwhals post
  .vscode/settings.json
  apps/labs/posts/scikit-lego-narwhals.md
Owners: @gabalafou, @pavithraes, @trallard, @rgommers

links
  apps/labs/posts/scikit-lego-narwhals.md
Owners: @pavithraes, @trallard, @rgommers

Update apps/labs/posts/scikit-lego-narwhals.md
  apps/labs/posts/scikit-lego-narwhals.md
Owners: @pavithraes, @trallard, @rgommers

reword, address typos
  apps/labs/posts/scikit-lego-narwhals.md
Owners: @pavithraes, @trallard, @rgommers

undo .vscode changes
  .vscode/settings.json
Owners: @gabalafou

typos, links, remove ibis comparison
  apps/labs/posts/dataframe-interop-pycon-lit-2024.md
Owners: @pavithraes, @trallard, @rgommers

another one
  apps/labs/posts/dataframe-interop-pycon-lit-2024.md
Owners: @pavithraes, @trallard, @rgommers

more updates
  apps/labs/posts/dataframe-interop-pycon-lit-2024.md
Owners: @pavithraes, @trallard, @rgommers

add image, add numbered bullet points, add links
  apps/labs/posts/scikit-lego-narwhals.md
  apps/labs/posts/scikit-lego-narwhals/scikit_lego_narwhals_handshake.png
Owners: @pavithraes, @trallard, @rgommers

try fixing image
  apps/labs/posts/scikit-lego-narwhals.md
Owners: @pavithraes, @trallard, @rgommers

oxford comma
  apps/labs/posts/scikit-lego-narwhals.md
Owners: @pavithraes, @trallard, @rgommers

try jpg
  apps/labs/posts/scikit-lego-narwhals/scikit_lego_narwhals_handshake.jpg
  apps/labs/posts/scikit-lego-narwhals/scikit_lego_narwhals_handshake.png
Owners: @pavithraes, @trallard, @rgommers

put blog image in right place
  apps/labs/posts/scikit-lego-narwhals.md
  apps/labs/public/posts/scikit-lego-narwhals/scikit_lego_narwhals_handshake.jpg
Owners: @pavithraes, @trallard, @rgommers

Correct file extension in image path
  apps/labs/posts/scikit-lego-narwhals.md
Owners: @pavithraes, @trallard, @rgommers

BLOG: Add post about dataframe interoperability (PyCon Lithuania 2024 talk) (#841)
  apps/labs/posts/dataframe-interop-pycon-lit-2024.md
  apps/labs/public/posts/dataframe-interop-pycon-lit-2024/interchange.png
  apps/labs/public/posts/dataframe-interop-pycon-lit-2024/narwhals_medium.jpg
  apps/labs/public/posts/dataframe-interop-pycon-lit-2024/narwhals_small.jpg
  apps/labs/public/posts/dataframe-interop-pycon-lit-2024/narwhals_vs_ibis.png
  apps/labs/public/posts/dataframe-interop-pycon-lit-2024/pandas_everywhere.png
Owners: @pavithraes, @trallard, @rgommers

move image
  apps/labs/public/posts/scikit-lego-narwhals/scikit_lego_narwhals_handshake.jpg
Owners: @pavithraes, @trallard, @rgommers

try updating image
  apps/labs/posts/scikit-lego-narwhals.md
  apps/labs/public/posts/scikit-lego-narwhals/scikit_lego_narwhals_handshake.jpg
  apps/labs/public/posts/scikit-lego-narwhals/scikit_lego_narwhals_handshake.png
Owners: @pavithraes, @trallard, @rgommers

add hero image
  apps/labs/posts/scikit-lego-narwhals.md
  apps/labs/public/posts/scikit-lego-narwhals/hero.png
Owners: @pavithraes, @trallard, @rgommers

Update README to reflect making main the default branch
  README.md
Owners: @gabalafou

add table for comparison
  apps/labs/posts/scikit-lego-narwhals.md
  apps/labs/public/posts/scikit-lego-narwhals/comparison.png
Owners: @pavithraes, @trallard, @rgommers

update image
  apps/labs/posts/scikit-lego-narwhals.md
  apps/labs/public/posts/scikit-lego-narwhals/comparison.png
Owners: @pavithraes, @trallard, @rgommers

extra links
  apps/labs/posts/scikit-lego-narwhals.md
Owners: @pavithraes, @trallard, @rgommers

remove scare quote
  apps/labs/posts/dataframe-interop-pycon-lit-2024.md
Owners: @pavithraes, @trallard, @rgommers

remove scare quote (#849)
  apps/labs/posts/dataframe-interop-pycon-lit-2024.md
Owners: @pavithraes, @trallard, @rgommers

shorten intro, reword a bit
  apps/labs/posts/scikit-lego-narwhals.md
Owners: @pavithraes, @trallard, @rgommers

remove industry note, capitalize
  apps/labs/posts/scikit-lego-narwhals.md
Owners: @pavithraes, @trallard, @rgommers

Apply suggestions from code review
  apps/labs/posts/sparse-array-ecosystem.md
Owners: @pavithraes, @trallard, @rgommers

Apply more suggestions from code review.
  apps/labs/posts/sparse-array-ecosystem.md
Owners: @pavithraes, @trallard, @rgommers

add note on overhead (or lack of)
  apps/labs/posts/scikit-lego-narwhals.md
Owners: @pavithraes, @trallard, @rgommers

update date
  apps/labs/posts/scikit-lego-narwhals.md
Owners: @pavithraes, @trallard, @rgommers

slight rewording
  apps/labs/posts/scikit-lego-narwhals.md
Owners: @pavithraes, @trallard, @rgommers

Update publication date
  apps/labs/posts/scikit-lego-narwhals.md
Owners: @pavithraes, @trallard, @rgommers

BLOG: How scikit-lego became dataframe-agnostic using Narwhals (#846)
  apps/labs/posts/scikit-lego-narwhals.md
  apps/labs/public/posts/scikit-lego-narwhals/comparison.png
  apps/labs/public/posts/scikit-lego-narwhals/hero.png
  apps/labs/public/posts/scikit-lego-narwhals/scikit_lego_narwhals_handshake.png
Owners: @pavithraes, @trallard, @rgommers

BLOG: How scikit-lego became dataframe-agnostic using Narwhals (#846)
  apps/labs/posts/scikit-lego-narwhals.md
  apps/labs/public/posts/scikit-lego-narwhals/comparison.png
  apps/labs/public/posts/scikit-lego-narwhals/hero.png
  apps/labs/public/posts/scikit-lego-narwhals/scikit_lego_narwhals_handshake.png
Owners: @pavithraes, @trallard, @rgommers

Update dependabot.yml
  .github/dependabot.yml
Owners: @gabalafou

git ignore .nx/ and .next/
  .gitignore
Owners: @gabalafou

.github/CODEOWNERS:

# Gabriel as default owner
*   @gabalafou

# Pavithra as reviewer for Markdown examples
/examples   @pavithraes

# Pavithra, Tania & Ralf as default reviewers for Labs blogs and assets
/apps/labs/posts          @pavithraes  @trallard  @rgommers
/apps/labs/public/posts   @pavithraes  @trallard  @rgommers

# Pavithra as default reviewer for changes to Labs Storyblok content
# Tania/Ralf/others to be manually added as appropriate
/apps/labs/CHANGELOG.md   @pavithraes

# Brian as default reviewer for changes to LLC Storyblok content
# Kate/others to be manually added as appropriate
/apps/consulting/CHANGELOG.md   @bskinn
