Repository Quansight/Quansight-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gabalafou, @pavithraes, @trallard, @rgommers, @bskinn

Change "Quansight PBC" to "Quansight"
  apps/labs/posts/jupyter-everywhere.md
Owners: @pavithraes, @trallard, @rgommers

init
  apps/labs/posts/llm_polars_to_sql.md
  apps/labs/public/posts/llm_polars_to_sql/featured.jpg
  apps/labs/public/posts/llm_polars_to_sql/hero.jpg
Owners: @pavithraes, @trallard, @rgommers

minor fixes
  apps/labs/posts/llm_polars_to_sql.md
Owners: @pavithraes, @trallard, @rgommers

update images
  apps/labs/public/posts/llm_polars_to_sql/featured.jpg
  apps/labs/public/posts/llm_polars_to_sql/hero.jpg
Owners: @pavithraes, @trallard, @rgommers

update wording
  apps/labs/posts/llm_polars_to_sql.md
Owners: @pavithraes, @trallard, @rgommers

minor fixes
  apps/labs/posts/llm_polars_to_sql.md
Owners: @pavithraes, @trallard, @rgommers

Revise SQL examples and Narwhals explanation
  apps/labs/posts/llm_polars_to_sql.md
Owners: @pavithraes, @trallard, @rgommers

Apply suggestions from code review
  apps/labs/posts/llm_polars_to_sql.md
Owners: @pavithraes, @trallard, @rgommers

update date
  apps/labs/posts/llm_polars_to_sql.md
Owners: @pavithraes, @trallard, @rgommers

BLOG: OSS Fund 2025
  apps/labs/posts/oss-fund-2025.md
Owners: @pavithraes, @trallard, @rgommers

tweak formatting
  apps/labs/posts/oss-fund-2025.md
Owners: @pavithraes, @trallard, @rgommers

Bold links didn't work, remove markup
  apps/labs/posts/oss-fund-2025.md
Owners: @pavithraes, @trallard, @rgommers

Change in/out formatting
  apps/labs/posts/uarray-intro.mdx
Owners: @pavithraes, @trallard, @rgommers

Reformat quotes and add one more
  apps/labs/posts/oss-fund-2025.md
Owners: @pavithraes, @trallard, @rgommers

Make title bar white of in/out boxes white
  apps/labs/pages/styles.css
Owners: @gabalafou

[BLOG] Fix ipynb blog post rendering issue; add uarray-intro (#647)
  apps/labs/pages/styles.css
  apps/labs/posts/uarray-intro.mdx
  apps/labs/public/images/blog_feature_var1.png
  apps/labs/public/images/blog_hero_var1.svg
  apps/labs/services/posts/serializePost.ts
Owners: @gabalafou, @pavithraes, @trallard, @rgommers

.github/CODEOWNERS:

# Gabriel as default owner
*   @gabalafou

# Pavithra as reviewer for Markdown examples
/examples   @pavithraes

# Pavithra, Tania & Ralf as default reviewers for Labs blogs and assets
/apps/labs/posts          @pavithraes  @trallard  @rgommers
/apps/labs/public/posts   @pavithraes  @trallard  @rgommers

# Pavithra as default reviewer for changes to Labs Storyblok content
# Tania/Ralf/others to be manually added as appropriate
/apps/labs/CHANGELOG.md   @pavithraes

# Brian as default reviewer for changes to LLC Storyblok content
# Kate/others to be manually added as appropriate
/apps/consulting/CHANGELOG.md   @bskinn
