Repository Quansight/Quansight-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gabalafou, @pavithraes, @trallard, @rgommers, @bskinn

.github/CODEOWNERS:

# Gabriel as default owner
*   @gabalafou

# Pavithra as reviewer for Markdown examples
/examples   @pavithraes

# Pavithra, Tania & Ralf as default reviewers for Labs blogs and assets
/apps/labs/posts          @pavithraes  @trallard  @rgommers
/apps/labs/public/posts   @pavithraes  @trallard  @rgommers

# Pavithra as default reviewer for changes to Labs Storyblok content
# Tania/Ralf/others to be manually added as appropriate
/apps/labs/CHANGELOG.md   @pavithraes

# Brian as default reviewer for changes to LLC Storyblok content
# Kate/others to be manually added as appropriate
/apps/consulting/CHANGELOG.md   @bskinn

[CONS] Update Consulting CHANGELOG.md (#736)
  apps/consulting/CHANGELOG.md
Owners: @bskinn

address review
  apps/consulting/posts/review-functorch-contribution.md
Owners: @gabalafou

Revert Revert Update Labs blogs social cards to use featuredImage (#744) (#754)
  README.md
  apps/labs/pages/blog/[slug].tsx
Owners: @gabalafou

npx update-browserslist-db@latest (#687)
  package-lock.json
Owners: @gabalafou

[BLOG] Add array-libraries-interoperability.md (#391)
  apps/labs/posts/array-libraries-interoperability.md
  apps/labs/public/posts/array-libraries-interoperability/array_api_demo_screenshot.png
  apps/labs/public/posts/array-libraries-interoperability/feature.png
  apps/labs/public/posts/array-libraries-interoperability/hero.png
  apps/labs/public/posts/array-libraries-interoperability/ninja_arrays.png
  apps/labs/public/posts/array-libraries-interoperability/uarray_compatibility_tracker.png
  apps/labs/tailwind.config.js
Owners: @pavithraes, @trallard, @rgommers, @gabalafou

[BLOG] Array API support in scikit-learn (#765)
  apps/labs/posts/array-api-support-scikit-learn.md
  apps/labs/public/posts/array-api-support-scikit-learn/benchmark_results.png
  apps/labs/public/posts/array-api-support-scikit-learn/data-api-scikit-learn-logos-hero.png
  apps/labs/public/posts/array-api-support-scikit-learn/data-api-scikit-learn-logos.png
Owners: @pavithraes, @trallard, @rgommers

Updates to team members via Storyblok (#734)
  apps/labs/CHANGELOG.md
Owners: @pavithraes

[BLOG] Add putting-out-the-fire (#517)
  apps/labs/posts/putting-out-the-fire.md
  apps/labs/public/posts/putting-out-the-fire/featured_jlabaccess2.png
  apps/labs/public/posts/putting-out-the-fire/hero_jlabaccess2.png
Owners: @pavithraes, @trallard, @rgommers

[LAUNCH CLEANUP] Restore Labs RSS feed (#739)
  README.md
  apps/labs/pages/blog/index.tsx
Owners: @gabalafou

update
  apps/consulting/posts/review-functorch-contribution.md
Owners: @gabalafou

Nebari Services page (#709)
  apps/consulting/next.config.js
  apps/consulting/pages/nebari-services.tsx
  apps/consulting/pages/styles.css
  apps/consulting/public/nebari-services/confluency-logo.png
  apps/consulting/public/nebari-services/earth-big-data-logo.png
  apps/consulting/public/nebari-services/esip-logo.png
  apps/consulting/public/nebari-services/morningstar-logo.png
  apps/consulting/public/nebari-services/nebari-logo-grayscale.svg
  apps/consulting/public/nebari-services/nebari-logo-white.svg
  apps/consulting/public/nebari-services/purple-check-mark.svg
  apps/consulting/public/nebari-services/quansight-logo-black-grayscale.svg
  apps/consulting/public/nebari-services/quansight-logo-violet-grayscale.svg
  apps/consulting/public/nebari-services/quansight-logo.svg
  apps/consulting/public/nebari-services/right-pointing-triangle.svg
Owners: @gabalafou

On Nebari Services page, fix typo: on to an
  apps/consulting/pages/nebari-services.tsx
Owners: @gabalafou

[BLOG] add post on "Bridging Data Science Tools with Code Generator and Nebari" (#776)
  apps/labs/posts/code-generator-and-nebari.md
  apps/labs/public/posts/code-generator-and-nebari/app.png
  apps/labs/public/posts/code-generator-and-nebari/feature_and_hero.svg
  apps/labs/public/posts/code-generator-and-nebari/github-notebook-push.png
  apps/labs/public/posts/code-generator-and-nebari/hero-feature-image.png
  apps/labs/public/posts/code-generator-and-nebari/nebari-image.png
  apps/labs/public/posts/code-generator-and-nebari/template-open-in-nebari.png
Owners: @pavithraes, @trallard, @rgommers

word wrap and address few reviews
  apps/consulting/posts/review-functorch-contribution.md
Owners: @gabalafou

rephrase composite compliance section
  apps/consulting/posts/review-functorch-contribution.md
Owners: @gabalafou

Fix background and foreground breakpoint colors of last block on Nebari Services page (#720)
  apps/consulting/pages/nebari-services.tsx
Owners: @gabalafou

updates
  apps/consulting/posts/review-functorch-contribution.md
Owners: @gabalafou

Fix form prepopulate bug (#728)
  apps/consulting/pages/nebari-services.tsx
  libs/shared/ui-components/src/Form/Form.tsx
  libs/shared/ui-components/src/Form/types.ts
Owners: @gabalafou

Fix authors field in Array API in scikit-learn blog post (#772)
  apps/labs/posts/array-api-support-scikit-learn.md
Owners: @pavithraes, @trallard, @rgommers

Add blogpost about Numba dynamic exceptions (#747)
  apps/labs/posts/numba-dynamic-exceptions.md
  apps/labs/public/posts/numba-dynamic-exceptions/diagram.png
Owners: @pavithraes, @trallard, @rgommers

[BLOG] Add PyCon US 2023 - An action-packed week (#748)
  apps/labs/posts/pycon-us-2023-an-action-packed-week.md
  apps/labs/public/posts/pycon-us-2023-an-action-packed-week/blog_feature_org.svg
  apps/labs/public/posts/pycon-us-2023-an-action-packed-week/blog_hero_var2.svg
Owners: @pavithraes, @trallard, @rgommers

[CONS CONTENT] Apply Nebari services copy edits (#730)
  apps/consulting/pages/nebari-services.tsx
Owners: @gabalafou

[FEAT] Add Video component (#632)
  apps/consulting/components/BlokProvider/componentsMap.ts
  apps/consulting/components/BlokProvider/mappers/getVideoProps.ts
  apps/consulting/components/BlokProvider/types.ts
  apps/consulting/components/BlokProvider/utils/getPropsByType.ts
  apps/consulting/types/storyblok/bloks/rawBlok.ts
  apps/consulting/types/storyblok/bloks/video.ts
  apps/labs/components/BlokProvider/componentsMap.ts
  apps/labs/components/BlokProvider/mappers/getVideoProps.ts
  apps/labs/components/BlokProvider/types.ts
  apps/labs/components/BlokProvider/utils/getPropsByType.ts
  apps/labs/types/storyblok/bloks/rawBlock.ts
  apps/labs/types/storyblok/bloks/video.ts
  libs/shared/ui-components/src/Video/Video.tsx
  libs/shared/ui-components/src/Video/VideoThumbnail.tsx
  libs/shared/ui-components/src/Video/types.ts
  libs/shared/ui-components/src/index.ts
  package-lock.json
  package.json
Owners: @gabalafou

[BLOG] add SciPy array API post (#770)
  apps/labs/posts/scipy-array-api.md
  apps/labs/public/posts/scipy-array-api/scipy-array-api-hero.png
  apps/labs/public/posts/scipy-array-api/scipy-array-api-illustration.png
Owners: @pavithraes, @trallard, @rgommers

[FEAT] Add social card tags (#733)
  apps/consulting/pages/[slug]/index.tsx
  apps/consulting/pages/about-us/index.tsx
  apps/consulting/pages/index.tsx
  apps/consulting/pages/library/index.tsx
  apps/consulting/pages/nebari-services.tsx
  apps/consulting/pages/post/[slug].tsx
  apps/labs/pages/[slug]/index.tsx
  apps/labs/pages/blog/[slug].tsx
  apps/labs/pages/blog/index.tsx
  apps/labs/pages/index.tsx
  apps/labs/pages/team/index.tsx
  libs/shared/ui-components/src/SocialCard/SocialCard.tsx
  libs/shared/ui-components/src/SocialCard/types.ts
  libs/shared/ui-components/src/index.ts
Owners: @gabalafou

Update apps/consulting/posts/review-functorch-contribution.md
  apps/consulting/posts/review-functorch-contribution.md
Owners: @gabalafou

Apply suggestions from code review
  apps/consulting/posts/review-functorch-contribution.md
Owners: @gabalafou

Update Consulting CHANGELOG.md (#729)
  apps/consulting/CHANGELOG.md
Owners: @bskinn

rephrase linearize and chunk_size for vmap and jacobian
  apps/consulting/posts/review-functorch-contribution.md
Owners: @gabalafou

More hit area on call-to-action buttons on Nebari Services page (#719)
  apps/consulting/pages/nebari-services.tsx
Owners: @gabalafou

Update Labs blogs social cards to use featuredImage (#744)
  README.md
  apps/labs/pages/blog/[slug].tsx
Owners: @gabalafou

[CONS BLOG] Add 'Scalable Computing' category to 'Evolving QHub to Nebari' post (#712)
  apps/consulting/posts/evolving-qhub-to-nebari.md
Owners: @gabalafou

edit readme: change preview "banner" to "overlay" (#735)
  README.md
Owners: @gabalafou

change closing remarks
  apps/consulting/posts/review-functorch-contribution.md
Owners: @gabalafou

functorch contribution
  apps/consulting/posts/review-functorch-contribution.md
Owners: @gabalafou

Some cosmetic adjustments to Nebari Services page (#725)
  apps/consulting/pages/nebari-services.tsx
  apps/consulting/pages/styles.css
Owners: @gabalafou

[BLOG] doctesting for pydata libraries (#780)
  apps/labs/posts/doctesting-for-pydata-libraries.md
  apps/labs/public/posts/doctesting-for-pydata-libraries/blog_feature_org.png
  apps/labs/public/posts/doctesting-for-pydata-libraries/blog_hero_var1.svg
  apps/labs/public/posts/doctesting-for-pydata-libraries/quansight-pydata.png
  apps/labs/public/posts/doctesting-for-pydata-libraries/we-did-it.png
Owners: @pavithraes, @trallard, @rgommers

Array API post: Centers image and adds link to issue tracker (#778)
  apps/labs/posts/array-api-support-scikit-learn.md
Owners: @pavithraes, @trallard, @rgommers

rephrase
  apps/consulting/posts/review-functorch-contribution.md
Owners: @gabalafou

update
  apps/consulting/posts/review-functorch-contribution.md
Owners: @gabalafou
