Repository Quansight/Quansight-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gabalafou, @pavithraes, @trallard, @rgommers, @bskinn

.github/CODEOWNERS:

# Gabriel as default owner
*   @gabalafou

# Pavithra as reviewer for Markdown examples
/examples   @pavithraes

# Pavithra, Tania & Ralf as default reviewers for Labs blogs and assets
/apps/labs/posts          @pavithraes  @trallard  @rgommers
/apps/labs/public/posts   @pavithraes  @trallard  @rgommers

# Pavithra as default reviewer for changes to Labs Storyblok content
# Tania/Ralf/others to be manually added as appropriate
/apps/labs/CHANGELOG.md   @pavithraes

# Brian as default reviewer for changes to LLC Storyblok content
# Kate/others to be manually added as appropriate
/apps/consulting/CHANGELOG.md   @bskinn

Another round of small updates
  apps/labs/posts/libsf-error-state.md
Owners: @pavithraes, @trallard, @rgommers

Add github handle for pv
  apps/labs/posts/libsf-error-state.md
Owners: @pavithraes, @trallard, @rgommers

init
  apps/labs/posts/narwhals-pycapsule.md
Owners: @pavithraes, @trallard, @rgommers

Respond to review feedback
  apps/labs/posts/libsf-error-state.md
Owners: @pavithraes, @trallard, @rgommers

Remove another unnecessary link
  apps/labs/posts/libsf-error-state.md
Owners: @pavithraes, @trallard, @rgommers

[ENH] Improving the links to github issues
  apps/labs/posts/intel-oneapi-msvc-spin-scipy.md
Owners: @pavithraes, @trallard, @rgommers

complete text
  .vscode/settings.json
  apps/labs/posts/narwhals-pycapsule.md
Owners: @gabalafou, @pavithraes, @trallard, @rgommers

add images
  apps/labs/posts/narwhals-pycapsule.md
  apps/labs/public/posts/narwhals-pycapsule/featured.jpg
  apps/labs/public/posts/narwhals-pycapsule/hero.jpg
Owners: @pavithraes, @trallard, @rgommers

typo
  apps/labs/posts/narwhals-pycapsule.md
Owners: @pavithraes, @trallard, @rgommers

resize
  apps/labs/public/posts/narwhals-pycapsule/hero.jpg
Owners: @pavithraes, @trallard, @rgommers

resizse
  apps/labs/public/posts/narwhals-pycapsule/featured.jpg
  apps/labs/public/posts/narwhals-pycapsule/hero.jpg
Owners: @pavithraes, @trallard, @rgommers

minor fixes
  apps/labs/posts/narwhals-pycapsule.md
Owners: @pavithraes, @trallard, @rgommers

:rewind: Reset extraneous linting fixes
  apps/labs/components/Posts/FeaturedPosts/FeaturedPosts.tsx
  apps/labs/components/Posts/PostListItem/PostListItem.tsx
  apps/labs/posts/dataframe-group-by.md
  apps/labs/posts/dataframe-interop-pycon-lit-2024.md
  apps/labs/posts/free-threaded-python-rollout.md
  apps/labs/posts/numpy-quaddtype-blog.md
  apps/labs/posts/pandas-resample.md
Owners: @gabalafou, @pavithraes, @trallard, @rgommers

:rewind: Reset more extraneous linting fixes
  .gitignore
  apps/labs/posts/dataframe-interop-pycon-lit-2024.md
Owners: @gabalafou, @pavithraes, @trallard, @rgommers

resize again
  apps/labs/public/posts/narwhals-pycapsule/featured.jpg
  apps/labs/public/posts/narwhals-pycapsule/hero.jpg
Owners: @pavithraes, @trallard, @rgommers

add caveat
  apps/labs/posts/narwhals-pycapsule.md
Owners: @pavithraes, @trallard, @rgommers

[BLOG] Create Practicing Accessibility: Scientific Python Accessibility Events in Summary (#890)
  apps/labs/posts/practicing-accessibility-scientific-python-accessibility-events-in-summary.md
Owners: @pavithraes, @trallard, @rgommers

fix date
  apps/labs/posts/narwhals-pycapsule.md
Owners: @pavithraes, @trallard, @rgommers

retitle
  apps/labs/posts/narwhals-pycapsule.md
Owners: @pavithraes, @trallard, @rgommers

fixup
  apps/labs/posts/narwhals-pycapsule.md
Owners: @pavithraes, @trallard, @rgommers

another round of updates
  apps/labs/posts/narwhals-pycapsule.md
Owners: @pavithraes, @trallard, @rgommers

link to import / export
  apps/labs/posts/narwhals-pycapsule.md
Owners: @pavithraes, @trallard, @rgommers

specify ArrowStreamExportable protocol
  apps/labs/posts/narwhals-pycapsule.md
Owners: @pavithraes, @trallard, @rgommers

update date
  apps/labs/posts/narwhals-pycapsule.md
Owners: @pavithraes, @trallard, @rgommers

Some minor fixes and rephrasings
  apps/labs/posts/libsf-error-state.md
Owners: @pavithraes, @trallard, @rgommers

undo .vscode/settings.json change
  .vscode/settings.json
Owners: @gabalafou

FIX purple mask extending beyond team member image boundaries
  libs/shared/ui-components/src/Team/TeamMember/TeamMemberImage.tsx
Owners: @gabalafou

FIX purple mask extending beyond team member image boundaries (#895)
  libs/shared/ui-components/src/Team/TeamMember/TeamMemberImage.tsx
Owners: @gabalafou

Start post about our packaging work for napari
  apps/labs/posts/napari-conda-constructor-menuinst.md
Owners: @pavithraes, @trallard, @rgommers

Add images
  apps/labs/public/posts/napari-conda-constructor-menuinst/napari-empty.png
  apps/labs/public/posts/napari-conda-constructor-menuinst/napari-plugin-manager.png
Owners: @pavithraes, @trallard, @rgommers

[BLOG] Start drafting "PEP 517 build system popularity"
  apps/labs/posts/pep-517-build-system-popularity.md
Owners: @pavithraes, @trallard, @rgommers

Add numbers of source dists (before I forget them)
  apps/labs/posts/pep-517-build-system-popularity.md
Owners: @pavithraes, @trallard, @rgommers

Add a para about backends derived from setuptools plugins
  apps/labs/posts/pep-517-build-system-popularity.md
Owners: @pavithraes, @trallard, @rgommers

Start explaining setuptools configuration formats
  apps/labs/posts/pep-517-build-system-popularity.md
Owners: @pavithraes, @trallard, @rgommers

Clarify distinction from shared libraries in scipy.libs
  apps/labs/posts/libsf-error-state.md
Owners: @pavithraes, @trallard, @rgommers

update tables, expand on setuptools configuration formats
  apps/labs/posts/pep-517-build-system-popularity.md
Owners: @pavithraes, @trallard, @rgommers

Make correction to hastily written clarification
  apps/labs/posts/libsf-error-state.md
Owners: @pavithraes, @trallard, @rgommers

add a dependency table, and analysis
  apps/labs/posts/pep-517-build-system-popularity.md
Owners: @pavithraes, @trallard, @rgommers

Finish the prose
  apps/labs/posts/pep-517-build-system-popularity.md
Owners: @pavithraes, @trallard, @rgommers

Add a hero image
  apps/labs/posts/pep-517-build-system-popularity.md
  apps/labs/public/posts/pep-517-build-system-popularity/hero.jpeg
Owners: @pavithraes, @trallard, @rgommers
