Repository Quansight/Quansight-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gabalafou, @pavithraes, @trallard, @rgommers, @bskinn

fixing setup
  apps/labs/posts/numpy-quaddtype-blog.md
Owners: @pavithraes, @trallard, @rgommers

fixing setup
  apps/labs/public/posts/numpy-quaddtype-blog/mandelbrot_double.png
  apps/labs/public/posts/numpy-quaddtype-blog/mandelbrot_long_double.png
Owners: @pavithraes, @trallard, @rgommers

added memory aligned image
  apps/labs/posts/numpy-quaddtype-blog.md
  apps/labs/public/posts/numpy-quaddtype-blog/aligned_unaligned_memory.png
Owners: @pavithraes, @trallard, @rgommers

fixing text
  apps/labs/posts/numpy-quaddtype-blog.md
Owners: @pavithraes, @trallard, @rgommers

adding feature and hero images
  apps/labs/posts/numpy-quaddtype-blog.md
  apps/labs/public/posts/numpy-quaddtype-blog/feature.png
  apps/labs/public/posts/numpy-quaddtype-blog/hero.png
Owners: @pavithraes, @trallard, @rgommers

fixing img paths
  apps/labs/posts/numpy-quaddtype-blog.md
Owners: @pavithraes, @trallard, @rgommers

small tweaks
  apps/labs/posts/numpy-quaddtype-blog.md
Owners: @pavithraes, @trallard, @rgommers

resolved reviews
  apps/labs/posts/numpy-quaddtype-blog.md
Owners: @pavithraes, @trallard, @rgommers

added tlfloat point
  apps/labs/posts/numpy-quaddtype-blog.md
Owners: @pavithraes, @trallard, @rgommers

removed explaining align-unalign memory
  apps/labs/public/posts/numpy-quaddtype-blog/aligned_unaligned_memory.png
Owners: @pavithraes, @trallard, @rgommers

test new featured image
  apps/labs/posts/automated-accessibility-testing-with-bokeh.md
  apps/labs/public/posts/automated-accessibility-testing-with-bokeh/featured_image.png
Owners: @pavithraes, @trallard, @rgommers

finalize featured/hero image
  apps/labs/posts/automated-accessibility-testing-with-bokeh.md
  apps/labs/public/posts/automated-accessibility-testing-with-bokeh/featured_image.png
Owners: @pavithraes, @trallard, @rgommers

remove unused images
  apps/labs/public/posts/automated-accessibility-testing-with-bokeh/featured.png
  apps/labs/public/posts/automated-accessibility-testing-with-bokeh/hero.jpeg
Owners: @pavithraes, @trallard, @rgommers

Remove asv text
  apps/labs/posts/pydata-sparse-maintenance-and-docs-overhaul.md
Owners: @pavithraes, @trallard, @rgommers

Added update note at the end
  apps/labs/posts/pydata-sparse-maintenance-and-docs-overhaul.md
Owners: @pavithraes, @trallard, @rgommers

correct update
  apps/labs/posts/pydata-sparse-maintenance-and-docs-overhaul.md
Owners: @pavithraes, @trallard, @rgommers

Update apps/labs/posts/automated-accessibility-testing-with-bokeh.md
  apps/labs/posts/automated-accessibility-testing-with-bokeh.md
Owners: @pavithraes, @trallard, @rgommers

Update apps/labs/posts/automated-accessibility-testing-with-bokeh.md
  apps/labs/posts/automated-accessibility-testing-with-bokeh.md
Owners: @pavithraes, @trallard, @rgommers

Update apps/labs/posts/automated-accessibility-testing-with-bokeh.md
  apps/labs/posts/automated-accessibility-testing-with-bokeh.md
Owners: @pavithraes, @trallard, @rgommers

uncomment out math
  apps/labs/posts/multidimensional-integration-in-scipy.mdx
Owners: @pavithraes, @trallard, @rgommers

consistent styling for vector-valued functions in formulae
  apps/labs/posts/multidimensional-integration-in-scipy.mdx
Owners: @pavithraes, @trallard, @rgommers

use higher resolution images
  apps/labs/posts/multidimensional-integration-in-scipy.mdx
  apps/labs/public/posts/multidimensional-integration-in-scipy/3d-function-zoomed-hero.jpg
  apps/labs/public/posts/multidimensional-integration-in-scipy/scipy-integration-venn-diagram.jpg
  apps/labs/public/posts/multidimensional-integration-in-scipy/scipy-integration-venn-diagram.png
  apps/labs/public/posts/multidimensional-integration-in-scipy/trapezoid-subdivisions-featured.jpg
Owners: @pavithraes, @trallard, @rgommers

fix progressive work going forward
  apps/labs/posts/automated-accessibility-testing-with-bokeh.md
Owners: @pavithraes, @trallard, @rgommers

change publish date
  apps/labs/posts/automated-accessibility-testing-with-bokeh.md
Owners: @pavithraes, @trallard, @rgommers

Update apps/labs/posts/automated-accessibility-testing-with-bokeh.md
  apps/labs/posts/automated-accessibility-testing-with-bokeh.md
Owners: @pavithraes, @trallard, @rgommers

add knowledge share drive link
  apps/labs/posts/automated-accessibility-testing-with-bokeh.md
Owners: @pavithraes, @trallard, @rgommers

Update apps/labs/posts/automated-accessibility-testing-with-bokeh.md
  apps/labs/posts/automated-accessibility-testing-with-bokeh.md
Owners: @pavithraes, @trallard, @rgommers

Update apps/labs/posts/automated-accessibility-testing-with-bokeh.md
  apps/labs/posts/automated-accessibility-testing-with-bokeh.md
Owners: @pavithraes, @trallard, @rgommers

Update apps/labs/posts/automated-accessibility-testing-with-bokeh.md
  apps/labs/posts/automated-accessibility-testing-with-bokeh.md
Owners: @pavithraes, @trallard, @rgommers

Update apps/labs/posts/automated-accessibility-testing-with-bokeh.md
  apps/labs/posts/automated-accessibility-testing-with-bokeh.md
Owners: @pavithraes, @trallard, @rgommers

Update apps/labs/posts/automated-accessibility-testing-with-bokeh.md
  apps/labs/posts/automated-accessibility-testing-with-bokeh.md
Owners: @pavithraes, @trallard, @rgommers

Update apps/labs/posts/automated-accessibility-testing-with-bokeh.md
  apps/labs/posts/automated-accessibility-testing-with-bokeh.md
Owners: @pavithraes, @trallard, @rgommers

Update apps/labs/posts/automated-accessibility-testing-with-bokeh.md
  apps/labs/posts/automated-accessibility-testing-with-bokeh.md
Owners: @pavithraes, @trallard, @rgommers

Update apps/labs/posts/automated-accessibility-testing-with-bokeh.md
  apps/labs/posts/automated-accessibility-testing-with-bokeh.md
Owners: @pavithraes, @trallard, @rgommers

change meta information
  apps/labs/posts/bokeh-a11y-testing-internship.md
  apps/labs/public/posts/bokeh-a11y-testing-internship/bokeh_bokehjs.jpg
  apps/labs/public/posts/bokeh-a11y-testing-internship/bokeh_plus_playwright.png
  apps/labs/public/posts/bokeh-a11y-testing-internship/callback_slider.png
  apps/labs/public/posts/bokeh-a11y-testing-internship/color_scatter.png
  apps/labs/public/posts/bokeh-a11y-testing-internship/url_scatter.png
Owners: @pavithraes, @trallard, @rgommers

Update apps/labs/posts/numpy-quaddtype-blog.md
  apps/labs/posts/numpy-quaddtype-blog.md
Owners: @pavithraes, @trallard, @rgommers

Revert "uncomment out math"
  apps/labs/posts/multidimensional-integration-in-scipy.mdx
Owners: @pavithraes, @trallard, @rgommers

Fix: render math equations in Olly's blog post
  .gitignore
  apps/labs/pages/_document.tsx
  apps/labs/posts/multidimensional-integration-in-scipy.mdx
  apps/labs/services/posts/serializePost.ts
  package-lock.json
  package.json
Owners: @gabalafou, @pavithraes, @trallard, @rgommers

upgrade version: rehype-slug-custom-id
  package-lock.json
  package.json
Owners: @gabalafou

chore: add new categories
  apps/labs/posts/categories.json
Owners: @pavithraes, @trallard, @rgommers

.github/CODEOWNERS:

# Gabriel as default owner
*   @gabalafou

# Pavithra as reviewer for Markdown examples
/examples   @pavithraes

# Pavithra, Tania & Ralf as default reviewers for Labs blogs and assets
/apps/labs/posts          @pavithraes  @trallard  @rgommers
/apps/labs/public/posts   @pavithraes  @trallard  @rgommers

# Pavithra as default reviewer for changes to Labs Storyblok content
# Tania/Ralf/others to be manually added as appropriate
/apps/labs/CHANGELOG.md   @pavithraes

# Brian as default reviewer for changes to LLC Storyblok content
# Kate/others to be manually added as appropriate
/apps/consulting/CHANGELOG.md   @bskinn
