Repository Quansight/Quansight-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gabalafou, @pavithraes, @trallard, @rgommers, @bskinn

.github/CODEOWNERS:

# Gabriel as default owner
*   @gabalafou

# Pavithra as reviewer for Markdown examples
/examples   @pavithraes

# Pavithra, Tania & Ralf as default reviewers for Labs blogs and assets
/apps/labs/posts          @pavithraes  @trallard  @rgommers
/apps/labs/public/posts   @pavithraes  @trallard  @rgommers

# Pavithra as default reviewer for changes to Labs Storyblok content
# Tania/Ralf/others to be manually added as appropriate
/apps/labs/CHANGELOG.md   @pavithraes

# Brian as default reviewer for changes to LLC Storyblok content
# Kate/others to be manually added as appropriate
/apps/consulting/CHANGELOG.md   @bskinn

[BLOG] Add Captioning: A Newcomer's Guide (#828)
  apps/labs/posts/captioning-a-newcomers-guide.md
  apps/labs/public/posts/captioning-a-newcomers-guide/blog_feature_1.png
  apps/labs/public/posts/captioning-a-newcomers-guide/blog_hero_1.svg
Owners: @pavithraes, @trallard, @rgommers

:sparkles: Add annual report 2023 blog
  apps/labs/posts/labs-annual-report-2023.md
  apps/labs/public/posts/labs-annual-report-2023/labs-annual-report-2023-infographic.png
Owners: @pavithraes, @trallard, @rgommers

Add support for 2023 annual report download
  apps/labs/next.config.js
  apps/labs/pages/api/annual-report.pdf.ts
Owners: @gabalafou

Add support for 2023 annual report download
  apps/labs/next.config.js
  apps/labs/pages/api/annual-report.pdf.ts
Owners: @gabalafou

:sparkles: Update infographic image and alt-text
  apps/labs/posts/labs-annual-report-2023.md
  apps/labs/public/posts/labs-annual-report-2023/labs-annual-report-2023-infographic.png
Owners: @pavithraes, @trallard, @rgommers

:sparkles: Update infographic, hero, and thumbnail images
  apps/labs/posts/labs-annual-report-2023.md
  apps/labs/public/posts/labs-annual-report-2023/hero-desktop.png
  apps/labs/public/posts/labs-annual-report-2023/hero-mobile.png
  apps/labs/public/posts/labs-annual-report-2023/hero-tablet.png
  apps/labs/public/posts/labs-annual-report-2023/labs-annual-report-2023-infographic.png
  apps/labs/public/posts/labs-annual-report-2023/thumbnail.png
Owners: @pavithraes, @trallard, @rgommers

:sparkles: Update thumbnail image
  apps/labs/public/posts/labs-annual-report-2023/thumbnail.png
Owners: @pavithraes, @trallard, @rgommers

:memo: Misc updates
  apps/labs/posts/labs-annual-report-2023.md
Owners: @pavithraes, @trallard, @rgommers

:memo: Add UTM to annual report download link
  apps/labs/posts/labs-annual-report-2023.md
Owners: @pavithraes, @trallard, @rgommers

Add Storyblok homepage updates to CHANGELOG
  apps/labs/CHANGELOG.md
Owners: @pavithraes

Update apps/labs/pages/api/annual-report.pdf.ts
  apps/labs/pages/api/annual-report.pdf.ts
Owners: @gabalafou

Update apps/labs/pages/api/annual-report.pdf.ts
  apps/labs/pages/api/annual-report.pdf.ts
Owners: @gabalafou

Add support for 2023 annual report download (#831)
  apps/labs/next.config.js
  apps/labs/pages/api/annual-report.pdf.ts
Owners: @gabalafou

[BLOG] Quansight Labs Annual Report 2023 (#830)
  apps/labs/posts/labs-annual-report-2023.md
  apps/labs/public/posts/labs-annual-report-2023/hero-desktop.png
  apps/labs/public/posts/labs-annual-report-2023/hero-mobile.png
  apps/labs/public/posts/labs-annual-report-2023/hero-tablet.png
  apps/labs/public/posts/labs-annual-report-2023/labs-annual-report-2023-infographic.png
  apps/labs/public/posts/labs-annual-report-2023/thumbnail.png
Owners: @pavithraes, @trallard, @rgommers

Add Storyblok homepage updates to CHANGELOG (#832)
  apps/labs/CHANGELOG.md
Owners: @pavithraes

Update annual report PDF
  apps/labs/pages/api/annual-report.pdf.ts
Owners: @gabalafou

Update annual report PDF (#835)
  apps/labs/pages/api/annual-report.pdf.ts
Owners: @gabalafou

Add note to not modify .env file in README
  README.md
Owners: @gabalafou

Simplify and clarify local dev instructions in README (#838)
  README.md
Owners: @gabalafou

BLOG: Add first draft for blog post.
  apps/labs/posts/sparse-array-ecosystem.md
  apps/labs/public/posts/sparse-array-ecosystem/meme.jpg
  apps/labs/public/posts/sparse-array-ecosystem/title.png
Owners: @pavithraes, @trallard, @rgommers

[BLOG] Add "Writing fast string ufuncs for NumPy 2.0"
  apps/labs/posts/numpy-string-ufuncs.md
  apps/labs/public/posts/numpy-string-ufuncs/benchmarks.png
  apps/labs/public/posts/numpy-string-ufuncs/numpy-string-ufuncs-hero.png
  apps/labs/public/posts/numpy-string-ufuncs/numpy-string-ufuncs-logo.png
Owners: @pavithraes, @trallard, @rgommers

Address more feedback & some minor edits
  apps/labs/posts/numpy-string-ufuncs.md
Owners: @pavithraes, @trallard, @rgommers

Add sparse capability matrix.
  apps/labs/posts/sparse-array-ecosystem.md
Owners: @pavithraes, @trallard, @rgommers

Add array creation content.
  apps/labs/posts/sparse-array-ecosystem.md
Owners: @pavithraes, @trallard, @rgommers

Formatting.
  apps/labs/posts/sparse-array-ecosystem.md
Owners: @pavithraes, @trallard, @rgommers

Typo.
  apps/labs/posts/sparse-array-ecosystem.md
Owners: @pavithraes, @trallard, @rgommers

Formatting.
  apps/labs/posts/sparse-array-ecosystem.md
Owners: @pavithraes, @trallard, @rgommers

WIP: Add examples of sparse arrays.
  apps/labs/posts/sparse-array-ecosystem.md
Owners: @pavithraes, @trallard, @rgommers

WIP: Add details on benefits and formats.
  apps/labs/posts/sparse-array-ecosystem.md
Owners: @pavithraes, @trallard, @rgommers

Be a bit more diplomatic about the wording.
  apps/labs/posts/sparse-array-ecosystem.md
Owners: @pavithraes, @trallard, @rgommers

WIP: Make some small changes.
  apps/labs/posts/sparse-array-ecosystem.md
Owners: @pavithraes, @trallard, @rgommers

WIP: Replace the image with a left-to-right flipped version.
  apps/labs/public/posts/sparse-array-ecosystem/title.png
Owners: @pavithraes, @trallard, @rgommers

WIP: Remove meme.
  apps/labs/posts/sparse-array-ecosystem.md
  apps/labs/public/posts/sparse-array-ecosystem/meme.jpg
Owners: @pavithraes, @trallard, @rgommers

init
  apps/labs/posts/dataframe-interop-pycon-lit-2024.md
  apps/labs/public/posts/dataframe-interop-pycon-lit-2024/interchange.png
  apps/labs/public/posts/dataframe-interop-pycon-lit-2024/narwhals_small.jpg
  apps/labs/public/posts/dataframe-interop-pycon-lit-2024/pandas_everywhere.png
Owners: @pavithraes, @trallard, @rgommers

WIP: Add rough starting dates for projects; refine aim of `sparse`.
  apps/labs/posts/sparse-array-ecosystem.md
Owners: @pavithraes, @trallard, @rgommers

WIP: Reword some `scipy.sparse` and `torch.sparse` API concerns.
  apps/labs/posts/sparse-array-ecosystem.md
Owners: @pavithraes, @trallard, @rgommers

Add construction code examples.
  apps/labs/posts/sparse-array-ecosystem.md
Owners: @pavithraes, @trallard, @rgommers

add post related to pyconlithuania 2024 talk
  apps/labs/posts/dataframe-interop-pycon-lit-2024.md
  apps/labs/public/posts/dataframe-interop-pycon-lit-2024/interchange.png
  apps/labs/public/posts/dataframe-interop-pycon-lit-2024/narwhals_medium.jpg
  apps/labs/public/posts/dataframe-interop-pycon-lit-2024/narwhals_small.jpg
  apps/labs/public/posts/dataframe-interop-pycon-lit-2024/narwhals_vs_ibis.png
  apps/labs/public/posts/dataframe-interop-pycon-lit-2024/pandas_everywhere.png
Owners: @pavithraes, @trallard, @rgommers

Update Python3 statement url.
  apps/labs/posts/whats-new-in-sympy-14.md
Owners: @pavithraes, @trallard, @rgommers

Update Python3 statement url. (#842)
  apps/labs/posts/whats-new-in-sympy-14.md
Owners: @pavithraes, @trallard, @rgommers
