Repository Quansight/Quansight-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gabalafou, @pavithraes, @trallard, @rgommers, @bskinn

[Blog] pandas Resample (#872)
  apps/labs/posts/pandas-resample.md
  apps/labs/public/posts/pandas-resample/pandas-logo-wide-field.png
  apps/labs/public/posts/pandas-resample/pandas-resample.png
Owners: @pavithraes, @trallard, @rgommers

changed title to "Quadruple Precision for Everyone"
  apps/labs/posts/numpy-quaddtype-blog.md
Owners: @pavithraes, @trallard, @rgommers

added tlfloat point
  apps/labs/posts/numpy-quaddtype-blog.md
Owners: @pavithraes, @trallard, @rgommers

[BLOG] Create Announcing Scientific Python Accessibility Events (#875)
  apps/labs/posts/announcing-scientific-python-accessibility-events.md
  apps/labs/public/posts/announcing-scientific-python-accessibility-events/blog_feature_1.png
Owners: @pavithraes, @trallard, @rgommers

[BLOG] Pydata/Sparse: Maintenance and docs overhaul (#877)
  apps/labs/posts/pydata-sparse-maintenance-and-docs-overhaul.md
  apps/labs/public/posts/pydata-sparse-maintenance-and-docs-overhaul/featured.png
  apps/labs/public/posts/pydata-sparse-maintenance-and-docs-overhaul/hero.svg
  apps/labs/public/posts/pydata-sparse-maintenance-and-docs-overhaul/screen.png
Owners: @pavithraes, @trallard, @rgommers

Added project technical insight
  apps/labs/posts/numpy-quaddtype-blog.md
Owners: @pavithraes, @trallard, @rgommers

added memory aligned image
  apps/labs/posts/numpy-quaddtype-blog.md
  apps/labs/public/posts/numpy-quaddtype-blog/aligned_unaligned_memory.png
Owners: @pavithraes, @trallard, @rgommers

fixing setup
  apps/labs/posts/numpy-quaddtype-blog.md
Owners: @pavithraes, @trallard, @rgommers

fixed extension
  apps/labs/posts/numpy-quaddtype-blog.md
Owners: @pavithraes, @trallard, @rgommers

Add Internship label
  apps/labs/posts/pydata-sparse-maintenance-and-docs-overhaul.md
Owners: @pavithraes, @trallard, @rgommers

fixing text
  apps/labs/posts/numpy-quaddtype-blog.md
Owners: @pavithraes, @trallard, @rgommers

fix rendering issues
  apps/labs/posts/numpy-quaddtype-blog.md
Owners: @pavithraes, @trallard, @rgommers

Added almost complete text content
  apps/labs/posts/numpy-quaddtype-blog.md
Owners: @pavithraes, @trallard, @rgommers

[BLOG] add Multi-dimensional Sparse Arrays in SciPy (#884)
  apps/labs/posts/multi-dimensional-sparse-arrays.md
  apps/labs/public/posts/multi-dimensional-sparse-arrays/broadcasting.png
  apps/labs/public/posts/multi-dimensional-sparse-arrays/row_and_column_major_order.png
  apps/labs/public/posts/multi-dimensional-sparse-arrays/scipy_logo_img_featured.png
  apps/labs/public/posts/multi-dimensional-sparse-arrays/scipy_logo_img_hero.png
Owners: @pavithraes, @trallard, @rgommers

adding TOC and fixed image paths
  apps/labs/posts/numpy-quaddtype-blog.md
Owners: @pavithraes, @trallard, @rgommers

fixing setup
  apps/labs/public/posts/numpy-quaddtype-blog/mandelbrot_double.png
  apps/labs/public/posts/numpy-quaddtype-blog/mandelbrot_long_double.png
Owners: @pavithraes, @trallard, @rgommers

fix: add Internship tag to relevant blog posts
  apps/labs/posts/array-libraries-interoperability.md
  apps/labs/posts/close-encounter-with-pandas-and-the-jedis-of-open-source.md
  apps/labs/posts/code-generator-and-nebari.md
  apps/labs/posts/conda-grayskull-packaging.md
  apps/labs/posts/conda-on-colaboratory.md
  apps/labs/posts/dataframe-interchange-protocol-and-the-vaex-library.md
  apps/labs/posts/doctesting-for-pydata-libraries.md
  apps/labs/posts/integrating-hypothesis-into-sympy.md
  apps/labs/posts/interchange-dataframe-protocol-for-cudf.md
  apps/labs/posts/introducing-intern-cohort-2022.md
  apps/labs/posts/nebari-typer-cli.md
  apps/labs/posts/numba-polynomial-support.md
  apps/labs/posts/numpy-python-api-cleanup.md
  apps/labs/posts/numpy_benchmarking_blog.md
  apps/labs/posts/re-engineering-cicd-pipelines-for-scipy.md
  apps/labs/posts/sangho-internship-blogpost.md
  apps/labs/posts/scipy-array-api.md
  apps/labs/posts/zoom-a11y-jupyterlab.md
Owners: @pavithraes, @trallard, @rgommers

small tweaks
  apps/labs/posts/numpy-quaddtype-blog.md
Owners: @pavithraes, @trallard, @rgommers

[ImgBot] Optimize images
  apps/labs/public/posts/pandas-resample/pandas-resample.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/ambiguous-summary.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/chrome-button.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-copy-button-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-copy-button-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-dropdown-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-dropdown-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-frankenstate-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-header-nav-link-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-left-toc-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-left-toc-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-more-dropdown-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-more-dropdown-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-right-toc-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-right-toc-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-tile-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-tile-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-toggle-admonition-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-toggle-admonition-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-version-dropdown-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-version-dropdown-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/landmarks-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/landmarks-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/magnification-app-sherm-for-disabled-and-here.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/sidebar-toc-after-1-ring-around-link.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/sidebar-toc-after-2-ring-around-toggle.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/sidebar-toc-before.png
Owners: @pavithraes, @trallard, @rgommers

fixing img paths
  apps/labs/posts/numpy-quaddtype-blog.md
Owners: @pavithraes, @trallard, @rgommers

[BLOG] PyData Sphinx Theme Accessibility Fixes (#867)
  apps/labs/components/LinkWithArrow/LinkWithArrow.tsx
  apps/labs/components/Posts/FeaturedPosts/FeaturedPosts.tsx
  apps/labs/components/Posts/PostListItem/PostListItem.tsx
  apps/labs/posts/pydata-theme-a11y-fixes.mdx
  apps/labs/public/posts/pydata-theme-a11y-fixes/ambiguous-summary.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/chrome-button-focus-ring.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/chrome-button.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-copy-button-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-copy-button-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-dropdown-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-dropdown-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-frankenstate-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-frankenstate-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-header-nav-link-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-header-nav-link-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-left-toc-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-left-toc-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-more-dropdown-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-more-dropdown-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-right-toc-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-right-toc-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-tile-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-tile-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-toggle-admonition-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-toggle-admonition-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-version-dropdown-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/focus-ring-version-dropdown-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/landmarks-after.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/landmarks-before.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/magnification-app-sherm-for-disabled-and-here.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/sidebar-toc-after-1-ring-around-link.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/sidebar-toc-after-2-ring-around-toggle.png
  apps/labs/public/posts/pydata-theme-a11y-fixes/sidebar-toc-before.png
Owners: @gabalafou, @pavithraes, @trallard, @rgommers

removed explaining align-unalign memory
  apps/labs/public/posts/numpy-quaddtype-blog/aligned_unaligned_memory.png
Owners: @pavithraes, @trallard, @rgommers

change lint base from develop to main (#879)
  .lintstagedrc.json
Owners: @gabalafou

resolved reviews
  apps/labs/posts/numpy-quaddtype-blog.md
Owners: @pavithraes, @trallard, @rgommers

initial drat
  apps/labs/posts/numpy-quaddtype-blog
Owners: @pavithraes, @trallard, @rgommers

Added Intro and problem section
  apps/labs/posts/numpy-quaddtype-blog.md
Owners: @pavithraes, @trallard, @rgommers

adding feature and hero images
  apps/labs/posts/numpy-quaddtype-blog.md
  apps/labs/public/posts/numpy-quaddtype-blog/feature.png
  apps/labs/public/posts/numpy-quaddtype-blog/hero.png
Owners: @pavithraes, @trallard, @rgommers

adding image files
  apps/labs/posts/numpy-quaddtype-blog.md
  apps/labs/public/posts/numpy-quaddtype-blog/longdouble_meme.jpg
  apps/labs/public/posts/numpy-quaddtype-blog/mandelbrot_128.png
  apps/labs/public/posts/numpy-quaddtype-blog/mandelbrot_double.png
  apps/labs/public/posts/numpy-quaddtype-blog/mandelbrot_long_double.png
  apps/labs/public/posts/numpy-quaddtype-blog/quantum_oscillator_comparison.png
Owners: @pavithraes, @trallard, @rgommers

Applied review suggestions, added links to written pages and online praise
  apps/labs/posts/polars-plugins-lets-make-them-easier-to-use.md
  apps/labs/public/posts/polars-plugins-lets-make-them-easier-to-use/praise0.png
  apps/labs/public/posts/polars-plugins-lets-make-them-easier-to-use/praise1.png
Owners: @pavithraes, @trallard, @rgommers

correct update
  apps/labs/posts/pydata-sparse-maintenance-and-docs-overhaul.md
Owners: @pavithraes, @trallard, @rgommers

docs: finished initial version of the blog post
  apps/labs/posts/polars-plugins-lets-make-them-easier-to-use.md
  apps/labs/public/posts/polars-plugins-lets-make-them-easier-to-use/struct_array_memory_layout.png
  apps/labs/public/posts/polars-plugins-lets-make-them-easier-to-use/structchunked_fields_memory_layout.png
Owners: @pavithraes, @trallard, @rgommers

Update apps/labs/posts/numpy-quaddtype-blog.md
  apps/labs/posts/numpy-quaddtype-blog.md
Owners: @pavithraes, @trallard, @rgommers

Update apps/labs/posts/polars-plugins-lets-make-them-easier-to-use.md
  apps/labs/posts/polars-plugins-lets-make-them-easier-to-use.md
Owners: @pavithraes, @trallard, @rgommers

docs: improved alt text of diagram
  apps/labs/posts/polars-plugins-lets-make-them-easier-to-use.md
Owners: @pavithraes, @trallard, @rgommers

docs: changed Vector to Vec
  apps/labs/posts/polars-plugins-lets-make-them-easier-to-use.md
Owners: @pavithraes, @trallard, @rgommers

Rephrasing plugin introduction
  apps/labs/posts/polars-plugins-lets-make-them-easier-to-use.md
Owners: @pavithraes, @trallard, @rgommers

Added update note at the end
  apps/labs/posts/pydata-sparse-maintenance-and-docs-overhaul.md
Owners: @pavithraes, @trallard, @rgommers

feat: add polars-plugins-lets-make-them-easier-to-use
  apps/labs/posts/polars-plugins-lets-make-them-easier-to-use.md
  apps/labs/public/posts/polars-plugins-lets-make-them-easier-to-use/featured.png
  apps/labs/public/posts/polars-plugins-lets-make-them-easier-to-use/hero.png
  apps/labs/public/posts/polars-plugins-lets-make-them-easier-to-use/life_toad.gif
  apps/labs/public/posts/polars-plugins-lets-make-them-easier-to-use/life_toad_df.gif
  apps/labs/public/posts/polars-plugins-lets-make-them-easier-to-use/yes-yes-yes.gif
Owners: @pavithraes, @trallard, @rgommers

docs: applied review suggestions
  apps/labs/posts/polars-plugins-lets-make-them-easier-to-use.md
  apps/labs/public/posts/polars-plugins-lets-make-them-easier-to-use/yes-yes-yes.gif
  apps/labs/public/posts/polars-plugins-lets-make-them-easier-to-use/yes_to_everything_white_bg.png
Owners: @pavithraes, @trallard, @rgommers

Remove asv text
  apps/labs/posts/pydata-sparse-maintenance-and-docs-overhaul.md
Owners: @pavithraes, @trallard, @rgommers

.github/CODEOWNERS:

# Gabriel as default owner
*   @gabalafou

# Pavithra as reviewer for Markdown examples
/examples   @pavithraes

# Pavithra, Tania & Ralf as default reviewers for Labs blogs and assets
/apps/labs/posts          @pavithraes  @trallard  @rgommers
/apps/labs/public/posts   @pavithraes  @trallard  @rgommers

# Pavithra as default reviewer for changes to Labs Storyblok content
# Tania/Ralf/others to be manually added as appropriate
/apps/labs/CHANGELOG.md   @pavithraes

# Brian as default reviewer for changes to LLC Storyblok content
# Kate/others to be manually added as appropriate
/apps/consulting/CHANGELOG.md   @bskinn
