Repository Quansight/Quansight-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gabalafou, @pavithraes, @trallard, @rgommers, @bskinn

.github/CODEOWNERS:

# Gabriel as default owner
*   @gabalafou

# Pavithra as reviewer for Markdown examples
/examples   @pavithraes

# Pavithra, Tania & Ralf as default reviewers for Labs blogs and assets
/apps/labs/posts          @pavithraes  @trallard  @rgommers
/apps/labs/public/posts   @pavithraes  @trallard  @rgommers

# Pavithra as default reviewer for changes to Labs Storyblok content
# Tania/Ralf/others to be manually added as appropriate
/apps/labs/CHANGELOG.md   @pavithraes

# Brian as default reviewer for changes to LLC Storyblok content
# Kate/others to be manually added as appropriate
/apps/consulting/CHANGELOG.md   @bskinn

enh: blog by apply suggestion from code review
  apps/labs/posts/implement-lapack-routines-in-stdlib.md
  apps/labs/public/posts/implement-lapack-routines-in-stdlib/column-major-optimized.png
  apps/labs/public/posts/implement-lapack-routines-in-stdlib/combined-increasing-size-row-col.png
  apps/labs/public/posts/implement-lapack-routines-in-stdlib/rate-vs-size-row-vs-column.png
Owners: @pavithraes, @trallard, @rgommers

revert: changed vscode settings by mistake
  .vscode/settings.json
Owners: @gabalafou

chore: remove html styled comment
  apps/labs/posts/implement-lapack-routines-in-stdlib.md
Owners: @pavithraes, @trallard, @rgommers

refactor: to remove label
  apps/labs/posts/implement-lapack-routines-in-stdlib.md
Owners: @pavithraes, @trallard, @rgommers

chore: add closing br tags
  apps/labs/posts/implement-lapack-routines-in-stdlib.md
Owners: @pavithraes, @trallard, @rgommers

rem: <br> tags
  apps/labs/posts/implement-lapack-routines-in-stdlib.md
Owners: @pavithraes, @trallard, @rgommers

chore: add closing tag to img
  apps/labs/posts/implement-lapack-routines-in-stdlib.md
Owners: @pavithraes, @trallard, @rgommers

fix: Correct style property syntax for images in stdlib post
  apps/labs/posts/implement-lapack-routines-in-stdlib.md
Owners: @pavithraes, @trallard, @rgommers

Don't use boldface for scalar-valued function
  apps/labs/posts/multidimensional-integration-in-scipy.mdx
Owners: @pavithraes, @trallard, @rgommers

enh: blog by applying suggestion from code review
  apps/labs/posts/implement-lapack-routines-in-stdlib.md
  apps/labs/public/posts/implement-lapack-routines-in-stdlib/group-1.png
  apps/labs/public/posts/implement-lapack-routines-in-stdlib/group-2.png
  apps/labs/public/posts/implement-lapack-routines-in-stdlib/group-3.png
Owners: @pavithraes, @trallard, @rgommers

[BLOG] add post about multidimensional integration in scipy (#882)
  .gitignore
  apps/labs/pages/_document.tsx
  apps/labs/posts/multidimensional-integration-in-scipy.mdx
  apps/labs/public/posts/multidimensional-integration-in-scipy/3d-function-zoomed-hero.jpg
  apps/labs/public/posts/multidimensional-integration-in-scipy/basic-trapezoid-rule.png
  apps/labs/public/posts/multidimensional-integration-in-scipy/refining-trapezoid-rule.mp4
  apps/labs/public/posts/multidimensional-integration-in-scipy/refining-trapezoid-rule.vtt
  apps/labs/public/posts/multidimensional-integration-in-scipy/scipy-integration-venn-diagram.jpg
  apps/labs/public/posts/multidimensional-integration-in-scipy/subdivisions-in-higher-dimensions-hero.png
  apps/labs/public/posts/multidimensional-integration-in-scipy/subdivisions-in-higher-dimensions.mp4
  apps/labs/public/posts/multidimensional-integration-in-scipy/subdivisions-in-higher-dimensions.vtt
  apps/labs/public/posts/multidimensional-integration-in-scipy/trapezoid-subdivisions-featured.jpg
  apps/labs/public/posts/multidimensional-integration-in-scipy/trapezoid-subdivisions-featured.png
  apps/labs/services/posts/serializePost.ts
  package-lock.json
  package.json
Owners: @gabalafou, @pavithraes, @trallard, @rgommers

[BLOG] add automated a11y testing with bokeh (#880)
  apps/labs/posts/bokeh-a11y-testing-internship.md
  apps/labs/public/posts/bokeh-a11y-testing-internship/bokeh_bokehjs.jpg
  apps/labs/public/posts/bokeh-a11y-testing-internship/bokeh_plus_playwright.png
  apps/labs/public/posts/bokeh-a11y-testing-internship/callback_slider.png
  apps/labs/public/posts/bokeh-a11y-testing-internship/color_scatter.png
  apps/labs/public/posts/bokeh-a11y-testing-internship/url_scatter.png
Owners: @pavithraes, @trallard, @rgommers

Updates to team projects via Storyblok
  apps/labs/CHANGELOG.md
Owners: @pavithraes

Update apps/labs/CHANGELOG.md
  apps/labs/CHANGELOG.md
Owners: @pavithraes

Updates to team projects via Storyblok (#888)
  apps/labs/CHANGELOG.md
Owners: @pavithraes

wip: polars innovation group-by
  apps/labs/posts/dataframe-group-by.md
Owners: @pavithraes, @trallard, @rgommers

improve structure
  apps/labs/posts/dataframe-group-by.md
Owners: @pavithraes, @trallard, @rgommers

reword
  apps/labs/posts/dataframe-group-by.md
Owners: @pavithraes, @trallard, @rgommers

another pass
  apps/labs/posts/dataframe-group-by.md
Owners: @pavithraes, @trallard, @rgommers

add images, remove outdated image
  apps/labs/posts/dataframe-group-by.md
  apps/labs/public/posts/dataframe-group-by/group-by-hero-desktop.png
  apps/labs/public/posts/dataframe-group-by/group-by-hero-mobile.png
  apps/labs/public/posts/dataframe-interop-pycon-lit-2024/narwhals_vs_ibis.png
Owners: @pavithraes, @trallard, @rgommers

images
  apps/labs/public/posts/dataframe-group-by/group-by-hero-desktop.png
  apps/labs/public/posts/dataframe-group-by/group-by-hero-mobile.png
Owners: @pavithraes, @trallard, @rgommers

alt
  apps/labs/posts/dataframe-group-by.md
Owners: @pavithraes, @trallard, @rgommers

update images
  apps/labs/posts/dataframe-group-by.md
  apps/labs/public/posts/dataframe-group-by/featured.jpg
  apps/labs/public/posts/dataframe-group-by/group-by-hero-desktop.png
  apps/labs/public/posts/dataframe-group-by/group-by-hero-mobile.png
  apps/labs/public/posts/dataframe-group-by/hero.jpg
Owners: @pavithraes, @trallard, @rgommers

correct extension
  apps/labs/posts/dataframe-group-by.md
Owners: @pavithraes, @trallard, @rgommers

fix link, use pandas api
  apps/labs/posts/dataframe-group-by.md
Owners: @pavithraes, @trallard, @rgommers

fix link
  apps/labs/posts/dataframe-group-by.md
Owners: @pavithraes, @trallard, @rgommers

fix alt text
  apps/labs/posts/dataframe-group-by.md
Owners: @pavithraes, @trallard, @rgommers

use descriptive names instead of toy example
  apps/labs/posts/dataframe-group-by.md
Owners: @pavithraes, @trallard, @rgommers

[BLOG] The Polars vs pandas difference nobody is talking about (#843)
  apps/labs/posts/dataframe-group-by.md
  apps/labs/public/posts/dataframe-group-by/featured.jpg
  apps/labs/public/posts/dataframe-group-by/hero.jpg
  apps/labs/public/posts/dataframe-interop-pycon-lit-2024/narwhals_vs_ibis.png
Owners: @pavithraes, @trallard, @rgommers

fix typo in dataframe-group-by.md
  apps/labs/posts/dataframe-group-by.md
Owners: @pavithraes, @trallard, @rgommers

[BLOG] Create Practicing Accessibility: Scientific Python Accessibility Events in Summary
  apps/labs/posts/practicing-accessibility-scientific-python-accessibility-events-in-summary.md
Owners: @pavithraes, @trallard, @rgommers

Fix madicken’s name (#866)
  apps/labs/posts/free-threaded-python-rollout.md
Owners: @pavithraes, @trallard, @rgommers

BLOG: Add Sparse ecosystem blog post. (#837)
  apps/labs/posts/sparse-array-ecosystem.md
  apps/labs/public/posts/sparse-array-ecosystem/title.png
Owners: @pavithraes, @trallard, @rgommers

Add blog post about free-threaded CPython ecosystem rollout (#865)
  apps/labs/posts/free-threaded-python-rollout.md
  apps/labs/public/posts/free-threaded-python-rollout/py_free_threading_tracker.png
Owners: @pavithraes, @trallard, @rgommers

[BLOG] Content update to Internship welcome post (#870)
  apps/labs/posts/2024-interns.md
Owners: @pavithraes, @trallard, @rgommers

Change h2 to h1 in the right place
  apps/consulting/components/FeatureArticle/FeatureArticle.tsx
  apps/labs/components/Posts/PostMetaSection/PostMetaSection.tsx
Owners: @gabalafou

Update dependabot.yml
  .github/dependabot.yml
Owners: @gabalafou

Make blog title h1 not h2
  apps/consulting/components/FeatureArticle/FeatureArticle.tsx
Owners: @gabalafou

[BLOG] Introducing the 2024 Labs Internship Program Cohort (#869)
  apps/labs/posts/2024-interns.md
  apps/labs/posts/categories.json
  apps/labs/public/posts/2024-interns/Anushka.jpeg
  apps/labs/public/posts/2024-interns/BrunoKind.jpg
  apps/labs/public/posts/2024-interns/Dea.png
  apps/labs/public/posts/2024-interns/JulesPoon.jpg
  apps/labs/public/posts/2024-interns/Pranav-slack.jpeg
  apps/labs/public/posts/2024-interns/SwayamSingh.png
  apps/labs/public/posts/2024-interns/projects-hero-desktop.png
  apps/labs/public/posts/2024-interns/projects-hero-mobile.png
Owners: @pavithraes, @trallard, @rgommers

[BLOG] The Convoluted Story Behind `np.top_k` (#868)
  apps/labs/posts/convoluted-story-behind-topk.md
  apps/labs/public/posts/convoluted-story-behind-topk/NumPy_logo_2020.webp
  apps/labs/public/posts/convoluted-story-behind-topk/NumPy_logo_2020_hero.webp
Owners: @pavithraes, @trallard, @rgommers
