Repository Quansight/Quansight-website, pull requests merged in 2022-12, with the labels that each got.

#556 [BLOG] add Conda on Colaboratory
  apps/labs/posts/conda-on-colaboratory.md
  apps/labs/public/posts/conda-on-colaboratory/blog_feature_surbhi.svg
  apps/labs/public/posts/conda-on-colaboratory/blog_hero_surbhi.svg
  apps/labs/public/posts/conda-on-colaboratory/colab-when-activating-base-env.png
  apps/labs/public/posts/conda-on-colaboratory/previous_condacolab_installation.png
  apps/labs/public/posts/conda-on-colaboratory/restart_kernel_demo.png
Labels: labs 🔭, type: content 📝

#582 Update Consulting CHANGELOG
  apps/consulting/CHANGELOG.md
Labels: consulting 🤝, type: content 📝, owner: Quansight

#497 Sangho internship blog post
  apps/labs/posts/sangho-internship-blogpost.md
  apps/labs/public/posts/sangho-internship-blogpost/allgather.png
  apps/labs/public/posts/sangho-internship-blogpost/allreduce.png
  apps/labs/public/posts/sangho-internship-blogpost/code1.png
  apps/labs/public/posts/sangho-internship-blogpost/cont1.png
  apps/labs/public/posts/sangho-internship-blogpost/cont2.png
  apps/labs/public/posts/sangho-internship-blogpost/ddp0.png
  apps/labs/public/posts/sangho-internship-blogpost/ddp1.png
  apps/labs/public/posts/sangho-internship-blogpost/group1.png
  apps/labs/public/posts/sangho-internship-blogpost/ignite_logo_mixed.png
  apps/labs/public/posts/sangho-internship-blogpost/ignite_logo_mixed.svg
  apps/labs/public/posts/sangho-internship-blogpost/read.png
  apps/labs/public/posts/sangho-internship-blogpost/sangho0.png
Labels: labs 🔭, type: content 📝

#524 [BLOG] Add reproducible-builds
  apps/labs/posts/reproducible-builds.md
  apps/labs/public/posts/reproducible-builds/blog_feature_var2.svg
  apps/labs/public/posts/reproducible-builds/blog_hero_org.svg
  apps/labs/public/posts/reproducible-builds/ipython_logo.png
Labels: labs 🔭, type: content 📝

#526 [BLOG] Add designing-with-and-for-developers
  apps/labs/posts/designing-with-and-for-developers.md
  apps/labs/public/posts/designing-with-and-for-developers/blog_feature_var1.svg
  apps/labs/public/posts/designing-with-and-for-developers/blog_hero_var1.svg
Labels: labs 🔭, type: content 📝

#603 [CONS BLOG] JupyterLab 3.0 Dynamic Extensions
  apps/consulting/posts/why-we-are-excited-about-jupyterlab-3-0-dynamic-extensions.md
  apps/consulting/public/posts/why-we-are-excited-about-jupyterlab-3-0-dynamic-extensions/lab_logo_tng.png
Labels: consulting 🤝, type: content 📝, owner: Quansight, status: merge ready ✨

#613 [FEAT]: Add pass-through of UTM parameters to Zapier
  apps/consulting/pages/_document.tsx
  libs/shared/ui-components/src/Form/Form.tsx
  libs/shared/ui-components/src/Form/utils.ts
  libs/shared/utils/src/sendFormData/sendFormData.ts
  libs/shared/utils/src/sendFormData/types.ts
Labels: type: enhancement 💅🏼, consulting 🤝, area: react, owner: Quansight, area: Zapier, area: Pipedrive

#614 Content CHANGELOG updates for Consulting site
  apps/consulting/CHANGELOG.md
Labels: consulting 🤝, type: content 📝, owner: Quansight
