Repository Quansight/Quansight-website, pull requests merged in 2022-07, with the labels that each got.

#274 fix: Adjust line spacing in Consulting drop down in header
  libs/shared/ui-components/src/Header/HeaderDesktop/HeaderDesktopNavigationProvider/HeaderDesktopDropdown.tsx
  libs/shared/ui-components/src/Header/HeaderDesktop/HeaderDesktopNavigationProvider/HeaderDesktopDropdownLink.tsx
Labels: priority: high 🌋, area: design 🎨, LLC 🤝, area: react, owner: Quansight, type: design flaw 🧯

#297 fix: Fix book a call link in mobile nav menu
  libs/shared/ui-components/src/Header/HeaderMobile/HeaderMobileBookingLink.tsx
Labels: type: bug 🐛, LLC 🤝, area: react, owner: Quansight

#246 [BLOG]-add-making-gpus-accessible-to-pydata-ecosystem-via-array-api
  apps/labs/posts/making-gpus-accessible-to-pydata-ecosystem-via-array-api.md
  apps/labs/public/posts/making-gpus-accessible-to-pydata-ecosystem-via-array-api/AMD_E_Blk_RGB.png
  apps/labs/public/posts/making-gpus-accessible-to-pydata-ecosystem-via-array-api/array_api_workflow.svg
  apps/labs/public/posts/making-gpus-accessible-to-pydata-ecosystem-via-array-api/blog_feature.svg
  apps/labs/public/posts/making-gpus-accessible-to-pydata-ecosystem-via-array-api/blog_hero.svg
  apps/labs/public/posts/making-gpus-accessible-to-pydata-ecosystem-via-array-api/greek_coins_original.jpeg
  apps/labs/public/posts/making-gpus-accessible-to-pydata-ecosystem-via-array-api/numpy_vs_cupy_amd.png
  apps/labs/public/posts/making-gpus-accessible-to-pydata-ecosystem-via-array-api/numpy_vs_cupy_nvidia.png
Labels: labs 🔭, type: content 📝

#277 [BLOG] Add conda-grayskull-packaging
  apps/labs/posts/conda-grayskull-packaging.md
  apps/labs/public/posts/conda-grayskull-packaging/blog_hero_var1.svg
  apps/labs/public/posts/conda-grayskull-packaging/conda-build.png
  apps/labs/public/posts/conda-grayskull-packaging/ensureconda.gif
  apps/labs/public/posts/conda-grayskull-packaging/package_name.png
  apps/labs/public/posts/conda-grayskull-packaging/package_name_feature.png
  apps/labs/public/posts/conda-grayskull-packaging/recipe_animation.png
Labels: labs 🔭, type: content 📝

#278 [BLOG] Add what-do-we-need-to-write.md
  apps/labs/posts/what-do-we-need-to-write.md
  apps/labs/public/posts/what-do-we-need-to-write/blog_feature_var2.svg
  apps/labs/public/posts/what-do-we-need-to-write/blog_hero_var2.svg
Labels: labs 🔭, type: content 📝

#279 [BLOG] Add jupyter-czi-accessibility-roadmap-announcement.md
  apps/labs/posts/jupyter-czi-accessibility-roadmap-announcement.md
  apps/labs/public/posts/jupyter-czi-accessibility-roadmap-announcement/blog_hero_var1.svg
  apps/labs/public/posts/jupyter-czi-accessibility-roadmap-announcement/roadmap_feature.png
Labels: labs 🔭, type: content 📝

#280 [BLOG] Add ipython-8.0-lessons-learned-maintaining-software.md
  apps/labs/posts/ipython-8.0-lessons-learned-maintaining-software.md
  apps/labs/public/posts/ipython-8.0-lessons-learned-maintaining-software/blog_hero_org.svg
  apps/labs/public/posts/ipython-8.0-lessons-learned-maintaining-software/ipython-8.0-feature.png
Labels: labs 🔭, type: content 📝

#283 [BLOG] Add pydata-extensibility-vision.md
  apps/labs/posts/pydata-extensibility-vision.md
  apps/labs/public/posts/pydata-extensibility-vision/AMD_E_Blk_RGB.png
  apps/labs/public/posts/pydata-extensibility-vision/CuPy_support_scipy_scikits_with_details.png
  apps/labs/public/posts/pydata-extensibility-vision/feature-image-scipy-ndimage-dispatcher.png
  apps/labs/public/posts/pydata-extensibility-vision/hero-image.png
  apps/labs/public/posts/pydata-extensibility-vision/nep-0047-library-dependencies.png
  apps/labs/public/posts/pydata-extensibility-vision/scipy-ndimage-dispatcher.png
  apps/labs/public/posts/pydata-extensibility-vision/scipy-numpy-dispatch.png
Labels: labs 🔭, type: content 📝

#343 Create alt-text-scipy-2022.md
  apps/labs/posts/alt-text-scipy-2022.md
  apps/labs/public/posts/ally-scavenger-hunt-post-hero-image.png
  apps/labs/services/posts/serializePost.ts
  package-lock.json
  package.json
Labels: type: content 📝

#337 fix: update Plausible code snippets
  apps/consulting/next.config.js
  apps/consulting/pages/_app.tsx
  apps/consulting/pages/_document.tsx
  apps/consulting/pages/opt-out-analytics.tsx
  apps/labs/next.config.js
  apps/labs/pages/_app.tsx
  apps/labs/pages/_document.tsx
  apps/labs/pages/opt-out-analytics.tsx
  libs/shared/ui-components/src/OptOutAnalytics/OptOutAnalytics.tsx
  libs/shared/ui-components/src/OptOutAnalytics/types.ts
  libs/shared/ui-components/src/index.ts
Labels: type: enhancement 💅🏼, area: dependencies 📦

#354 fix: Switch getPageItems Apollo query fetch policy to network only
  libs/shared/storyblok-sdk/src/api/utils/getPageItems.ts
Labels: type: bug 🐛, priority: high 🌋, LLC 🤝, area: react, area: Vercel

#374 fix: Add /staffing -> /careers redirect
  apps/consulting/next.config.js
Labels: type: enhancement 💅🏼, priority: high 🌋, LLC 🤝, area: Vercel

#392 Add favicon files and <Head><link> entries
  apps/consulting/pages/_document.tsx
  apps/consulting/public/favicon.png
  apps/labs/pages/_document.tsx
  apps/labs/public/favicon.png
Labels: type: enhancement 💅🏼, area: assets 📸, labs 🔭, LLC 🤝, area: react, owner: Quansight

#395 chore: merge develop into main
  apps/consulting/pages/_document.tsx
  apps/consulting/public/favicon.png
  apps/labs/pages/_document.tsx
  apps/labs/public/favicon.png
Labels: type: enhancement 💅🏼, area: design 🎨, area: assets 📸, labs 🔭, LLC 🤝, area: react, owner: Quansight
