Repository Quansight/Quansight-website, pull requests merged in 2022-11, with the labels that each got.

#503 Style/quan 15 inline code segment
  apps/labs/pages/_document.tsx
  apps/labs/pages/blog/[slug].tsx
  apps/labs/tailwind.config.js
Labels: type: enhancement 💅🏼, labs 🔭, area: react, needs: changes 🧱

#473 Add CHANGELOG notes about LLC content changes
  apps/consulting/CHANGELOG.md
Labels: LLC 🤝, type: content 📝, owner: Quansight

#544 [BLOG] Add numpy_CZI_grant
  apps/labs/posts/numpy_CZI_grant.md
  apps/labs/public/posts/numpy_CZI_grant/blog_feature_var2.svg
  apps/labs/public/posts/numpy_CZI_grant/blog_hero_var2.svg
Labels: labs 🔭, type: content 📝

#558 Change bug_report.yml dropdown from 'LLC' to 'Consulting'
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: owner: Quansight, type: maintenance 🛠

#504 Update dependabot.yml
  .github/dependabot.yml
Labels: needs: review 👀, type: maintenance 🛠, status: merge ready ✨

#491 [BLOG] Add dataframe-interchange-protocol-and-the-vaex-library
  apps/labs/posts/dataframe-interchange-protocol-and-the-vaex-library.md
  apps/labs/public/posts/dataframe-interchange-protocol-and-the-vaex-library/dataframe-api-vaex_UML.jpg
  apps/labs/public/posts/dataframe-interchange-protocol-and-the-vaex-library/dataframe-api-vaex_buffer.jpg
  apps/labs/public/posts/dataframe-interchange-protocol-and-the-vaex-library/dataframe-api-vaex_chunks.png
  apps/labs/public/posts/dataframe-interchange-protocol-and-the-vaex-library/dataframe-api-vaex_fin.png
  apps/labs/public/posts/dataframe-interchange-protocol-and-the-vaex-library/dataframe-api-vaex_journey.png
  apps/labs/public/posts/dataframe-interchange-protocol-and-the-vaex-library/dataframe-api-vaex_protocol.jpg
  apps/labs/public/posts/dataframe-interchange-protocol-and-the-vaex-library/hero.jpg
Labels: labs 🔭, type: content 📝

#568 Add deployment schedule & rotation to README
  README.md
Labels: area: documentation 📖, owner: Quansight, type: maintenance 🛠, area: contributor experience 👩🏼‍🎤

#565 Add content updates to `consulting` CHANGELOG
  apps/consulting/CHANGELOG.md
Labels: consulting 🤝, type: content 📝, owner: Quansight

#527 [BLOG] Add Making pygments accessible
  apps/labs/posts/lets-make-pygments-accessible.md
  apps/labs/public/posts/lets-make-pygments-accessible/featured_themes.png
  apps/labs/public/posts/lets-make-pygments-accessible/hero_themes.png
Labels: labs 🔭, needs: review 👀, type: content 📝

#536 [BLOG] Add the-new-spyder-editor-documentation-under-the-spotlights.md
  apps/labs/posts/the-new-spyder-editor-documentation-under-the-spotlights.md
  apps/labs/public/posts/the-new-spyder-editor-documentation-under-the-spotlights/blog_feature_var3.svg
  apps/labs/public/posts/the-new-spyder-editor-documentation-under-the-spotlights/blog_hero_var3.svg
Labels: labs 🔭, type: content 📝

#532 [BLOG] Add uarray-gsoc-participation
  apps/labs/posts/uarray-gsoc-participation.md
  apps/labs/public/posts/uarray-gsoc-participation/blog_feature_org.svg
  apps/labs/public/posts/uarray-gsoc-participation/blog_hero_org.svg
Labels: labs 🔭, type: content 📝

#521 [BLOG] Add design_in_open_source
  apps/labs/posts/design_in_open_source.md
  apps/labs/public/posts/design_in_open_source/blog_feature_var2.svg
  apps/labs/public/posts/design_in_open_source/blog_hero_org.svg
Labels: labs 🔭, type: content 📝

#574 Back-merge hotfixed release-20221115 to develop
  apps/labs/posts/close-encounter-with-pandas-and-the-jedis-of-open-source.md
  apps/labs/posts/lets-make-pygments-accessible.md
  apps/labs/posts/quansight-labs-awarded-three-czi-eoss-cycle5-grants.md
Labels: labs 🔭, type: maintenance 🛠

#554 feat/quan 12 implement google ads on llc
  apps/consulting/index.d.ts
  apps/consulting/pages/_app.tsx
  apps/labs/index.d.ts
  libs/shared/ui-components/src/Form/Form.tsx
  libs/shared/utils/src/gtag/reportConversion.ts
  libs/shared/utils/src/index.ts
  libs/shared/utils/tsconfig.lib.json
  package-lock.json
  package.json
Labels: type: enhancement 💅🏼, area: react

#537 [BLOG] Improving Accessibility in JupyterLab
  apps/labs/posts/zoom-a11y-jupyterlab.md
  apps/labs/public/posts/zoom-a11y-jupyterlab/accessibility+jupyter.png
  apps/labs/public/posts/zoom-a11y-jupyterlab/after.gif
  apps/labs/public/posts/zoom-a11y-jupyterlab/before.gif
  apps/labs/public/posts/zoom-a11y-jupyterlab/labsbg.png
Labels: needs: review 👀, type: content 📝
