Repository Quansight/Quansight-website, pull requests merged in 2022-09, with the labels that each got.

#435 Delete CODEOWNERS
  .github/CODEOWNERS
Labels: labs 🔭, LLC 🤝, owner: Quansight, type: maintenance 🛠, area: contributor experience 👩🏼‍🎤

#445 Update LLC content CHANGELOG
  apps/consulting/CHANGELOG.md
Labels: LLC 🤝, type: content 📝

#455 Change section order of ColumnArticle at md breakpoint
  libs/shared/ui-components/src/ColumnArticle/ColumnArticle.tsx
Labels: area: react, status: merge ready ✨

#342 feat: Put project title in heading id for anchor linkability
  apps/labs/components/Projects/ProjectHeadline.tsx
Labels: type: enhancement 💅🏼, area: react, status: merge ready ✨

#458 Add CODEOWNERS
  .github/CODEOWNERS
Labels: labs 🔭, LLC 🤝, owner: Quansight, type: maintenance 🛠, area: contributor experience 👩🏼‍🎤, needs: changes 🧱

#372 [BLOG] Add manylinux1-manylinux2010.md
  apps/labs/posts/manylinux1-manylinux2010.md
  apps/labs/public/posts/manylinux1-manylinux2010/blog_feature_org.svg
  apps/labs/public/posts/manylinux1-manylinux2010/blog_hero_org.svg
Labels: labs 🔭, type: content 📝

#389 [BLOG] Add nixos-rpi-wifi-router.md
  apps/labs/posts/nixos-rpi-wifi-router.md
  apps/labs/public/posts/nixos-rpi-wifi-router/blog_hero_var2.svg
  apps/labs/public/posts/nixos-rpi-wifi-router/feature.png
Labels: labs 🔭, type: content 📝

#390 [BLOG] Add documentation-as-a-way-to-build-community.md
  apps/labs/posts/documentation-as-a-way-to-build-community.md
  apps/labs/public/posts/documentation-as-a-way-to-build-community/blog_feature_org.svg
  apps/labs/public/posts/documentation-as-a-way-to-build-community/blog_hero_org.svg
Labels: labs 🔭, type: content 📝, status: merge ready ✨

#423 [BLOG] Add but-what-are-traitlets
  apps/labs/posts/but-what-are-traitlets.md
  apps/labs/public/posts/but-what-are-traitlets/blog_hero_var2.svg
  apps/labs/public/posts/but-what-are-traitlets/feature.png
Labels: labs 🔭, type: content 📝

#422 [BLOG] Add jupyterlab-winter-theme
  apps/labs/posts/jupyterlab-winter-theme.md
  apps/labs/public/posts/jupyterlab-winter-theme/blog_hero_org.svg
  apps/labs/public/posts/jupyterlab-winter-theme/feature.png
  apps/labs/public/posts/jupyterlab-winter-theme/jupyterlab-theme-christmas.png
  apps/labs/public/posts/jupyterlab-winter-theme/jupyterlab-theme-winter.png
Labels: labs 🔭, type: content 📝

#424 [BLOG] Add numpy_benchmarking_blog
  apps/labs/posts/numpy_benchmarking_blog.md
  apps/labs/public/posts/numpy_benchmarking_blog/blog_hero_var1.svg
  apps/labs/public/posts/numpy_benchmarking_blog/feature.png
  apps/labs/public/posts/numpy_benchmarking_blog/journey.jpeg
  apps/labs/public/posts/numpy_benchmarking_blog/performance_benchmarking.png
Labels: labs 🔭, type: content 📝

#388 [BLOG] Add jupyter-community-calls.md
  apps/labs/posts/jupyter-community-calls.md
  apps/labs/public/posts/jupyter-community-calls/blog_hero_var1.svg
  apps/labs/public/posts/jupyter-community-calls/feature.png
Labels: labs 🔭, type: content 📝

#425 [BLOG] Add scipy-ndimage-interpolation
  apps/labs/posts/scipy-ndimage-interpolation.md
  apps/labs/public/posts/scipy-ndimage-interpolation/blog_hero_org.svg
  apps/labs/public/posts/scipy-ndimage-interpolation/feature.png
  apps/labs/public/posts/scipy-ndimage-interpolation/scipy-brainweb-example.png
  apps/labs/public/posts/scipy-ndimage-interpolation/scipy-points-vs-grid.png
Labels: labs 🔭, type: content 📝

#248 [BLOG] add cxx numba interoperability
  apps/labs/posts/cxx-numba-interoperability.md
  apps/labs/public/posts/cxx-numba-interoperability/blog_feature_var2.svg
  apps/labs/public/posts/cxx-numba-interoperability/blog_hero_var2.svg
  apps/labs/public/posts/cxx-numba-interoperability/cxx2py.py
  apps/labs/public/posts/cxx-numba-interoperability/cxx2py_libfoo.cpp
  apps/labs/public/posts/cxx-numba-interoperability/libfoo.py
Labels: labs 🔭, type: content 📝
