Repository Quansight/Quansight-website, pull requests merged in 2023-11, with the labels that each got.

#798 Release 2023-10-31
  apps/labs/posts/sympy-documentation.md
  apps/labs/public/posts/sympy-documentation/blog_hero_var2.svg
  apps/labs/public/posts/sympy-documentation/sympy-112-docs-main-page.png
  apps/labs/public/posts/sympy-documentation/sympy-112-docs-odes.png
  apps/labs/public/posts/sympy-documentation/sympy-17-docs-odes.png
  apps/labs/public/posts/sympy-documentation/sympy-docs-preview-link.png
  apps/labs/public/posts/sympy-documentation/sympy-docs-preview-page.png
  apps/labs/public/posts/sympy-documentation/sympy-logo-2-1.png
  apps/labs/public/posts/sympy-documentation/sympy-survey-results.svg
Labels: type: release 🏷

#799 [HOTFIX] Release 2023-11-01
  apps/labs/posts/sympy-documentation.md
  apps/labs/public/posts/sympy-documentation/sympy-logo-2-1-whitebg.png
Labels: type: release 🏷

#800 [BACK-MERGE] Apply hotfixed changes from 31 Oct and 1 Nov site deploys back to `develop`
  apps/labs/posts/sympy-documentation.md
  apps/labs/public/posts/sympy-documentation/blog_hero_var2.svg
  apps/labs/public/posts/sympy-documentation/sympy-112-docs-main-page.png
  apps/labs/public/posts/sympy-documentation/sympy-112-docs-odes.png
  apps/labs/public/posts/sympy-documentation/sympy-17-docs-odes.png
  apps/labs/public/posts/sympy-documentation/sympy-docs-preview-page.png
  apps/labs/public/posts/sympy-documentation/sympy-logo-2-1-whitebg.png
  apps/labs/public/posts/sympy-documentation/sympy-logo-2-1.png
Labels: type: maintenance 🛠

#789 [BLOG] Recreate Numba polynomial post from #769
  apps/labs/posts/numba-polynomial-support.md
  apps/labs/public/posts/numba-polynomial-support/feature_grayscale-hi_res.png
  apps/labs/public/posts/numba-polynomial-support/feature_grayscale.png
  apps/labs/public/posts/numba-polynomial-support/featured.png
  apps/labs/public/posts/numba-polynomial-support/hero.png
  apps/labs/public/posts/numba-polynomial-support/numba-schematic.png
  apps/labs/public/posts/numba-polynomial-support/numba_logo.png
  apps/labs/public/posts/numba-polynomial-support/qlabs_logo.png
Labels: labs 🔭, type: content 📝

#795 [BLOG] the story about building scipy with flang on windows
  apps/labs/posts/building-scipy-with-flang.md
  apps/labs/public/posts/building-scipy-with-flang/ABI_meme.jpg
  apps/labs/public/posts/building-scipy-with-flang/hero.png
  apps/labs/public/posts/building-scipy-with-flang/scipy_indy.jpg
Labels: labs 🔭, type: content 📝

#790 [BLOG] Add NumPy Python API cleanup post
  apps/labs/posts/numpy-python-api-cleanup.md
  apps/labs/public/posts/numpy-python-api-cleanup/numpy-python-api-cleanup-hero.png
  apps/labs/public/posts/numpy-python-api-cleanup/numpy-python-api-cleanup-logo.png
Labels: labs 🔭, needs: review 👀, type: content 📝

#803 [BLOG FIX] Switch featured image for Numba polynomials post & edit NumPy post date format
  apps/labs/posts/numba-polynomial-support.md
  apps/labs/posts/numpy-python-api-cleanup.md
  apps/labs/public/posts/numba-polynomial-support/numba-polynomial-featured-50pct.png
  apps/labs/public/posts/numba-polynomial-support/numba-polynomial-featured.png
Labels: labs 🔭, type: content 📝

#802 [BLOG] Add CuPy CZI grant year 1 report blog post
  apps/labs/posts/categories.json
  apps/labs/posts/cupy-czi-grant-year1.md
  apps/labs/public/posts/cupy-czi-grant-year1/blog_hero_var2.svg
  apps/labs/public/posts/cupy-czi-grant-year1/cupy_logo_1000px.png
  apps/labs/public/posts/cupy-czi-grant-year1/filtered_signals.png
  apps/labs/public/posts/cupy-czi-grant-year1/interp_performance.png
  apps/labs/public/posts/cupy-czi-grant-year1/noisy_signals.png
  apps/labs/public/posts/cupy-czi-grant-year1/original_signals.png
Labels: labs 🔭, type: content 📝

#806 [MAINT] remove CuPy as a separate category on the Labs blog
  apps/labs/posts/categories.json
  apps/labs/posts/cupy-czi-grant-year1.md
Labels: labs 🔭, type: maintenance 🛠

#791 [BLOG] Add numba engine in pandas apply
  apps/labs/posts/unlocking-c-level-performance-in-df-apply.md
  apps/labs/public/posts/unlocking-c-level-performance-in-df-apply/loglogplot.png
  apps/labs/public/posts/unlocking-c-level-performance-in-df-apply/pandas-logo.png
Labels: labs 🔭, type: content 📝

#807 [BLOG] Switch to large-field pandas logo for hero
  apps/labs/posts/unlocking-c-level-performance-in-df-apply.md
  apps/labs/public/posts/unlocking-c-level-performance-in-df-apply/pandas-logo-wide-field.png
Labels: area: assets 📸, labs 🔭, owner: Quansight, type: design flaw 🧯

#486 Remove Sass
  package.json
Labels: area: dependencies 📦
