Repository Quansight/Quansight-website, pull requests merged in 2023-03, with the labels that each got.

#683 Labs anuual report blog: Add a download link before infographic
  apps/labs/posts/announcing-labs-annual-report-2022.md
Labels: labs 🔭, needs: review 👀, type: content 📝

#595 [CONS BLOG] Dask on Coiled
  apps/consulting/posts/dask-on-coiled.md
  apps/consulting/public/posts/dask-on-coiled/daskoncoiled-1.png
  apps/consulting/public/posts/dask-on-coiled/daskoncoiled-img-10.png
  apps/consulting/public/posts/dask-on-coiled/daskoncoiled-img-2.png
  apps/consulting/public/posts/dask-on-coiled/daskoncoiled-img-3.png
  apps/consulting/public/posts/dask-on-coiled/daskoncoiled-img-4.png
  apps/consulting/public/posts/dask-on-coiled/daskoncoiled-img-5.png
  apps/consulting/public/posts/dask-on-coiled/daskoncoiled-img-6.png
  apps/consulting/public/posts/dask-on-coiled/daskoncoiled-img-7.png
  apps/consulting/public/posts/dask-on-coiled/daskoncoiled-img-8.png
  apps/consulting/public/posts/dask-on-coiled/daskoncoiled-img-9.png
Labels: consulting 🤝, type: content 📝, owner: Quansight

#596 [CONS BLOG] Building a Panel Pipeline
  apps/consulting/posts/building-a-panel-pipeline.md
  apps/consulting/public/posts/building-a-panel-pipeline/panellogo4x3.png
  apps/consulting/public/posts/building-a-panel-pipeline/pipeline-img-1.png
  apps/consulting/public/posts/building-a-panel-pipeline/pipeline-img-10.png
  apps/consulting/public/posts/building-a-panel-pipeline/pipeline-img-2.png
  apps/consulting/public/posts/building-a-panel-pipeline/pipeline-img-3.png
  apps/consulting/public/posts/building-a-panel-pipeline/pipeline-img-4.png
  apps/consulting/public/posts/building-a-panel-pipeline/pipeline-img-5.png
  apps/consulting/public/posts/building-a-panel-pipeline/pipeline-img-6.png
  apps/consulting/public/posts/building-a-panel-pipeline/pipeline-img-7.png
  apps/consulting/public/posts/building-a-panel-pipeline/pipeline-img-8.png
  apps/consulting/public/posts/building-a-panel-pipeline/pipeline-img-9.png
Labels: consulting 🤝, type: content 📝, owner: Quansight

#690 Update CHANGELOG.md with PyTorch 2022 contribs post entry
  apps/consulting/CHANGELOG.md
Labels: consulting 🤝, type: content 📝, owner: Quansight

#692 [CONTENT] Add CHANGELOG bullets for PyTorch post fixes
  apps/consulting/CHANGELOG.md
Labels: consulting 🤝, type: content 📝, owner: Quansight

#660 [BLOG] Add pytorch-ignite-distributed
  apps/labs/posts/pytorch-ignite-distributed.md
  apps/labs/public/posts/pytorch-ignite-distributed/horovod_vs_xla_autodataloader.png
  apps/labs/public/posts/pytorch-ignite-distributed/horovod_vs_xla_automodel.png
  apps/labs/public/posts/pytorch-ignite-distributed/horovod_vs_xla_autooptim.png
  apps/labs/public/posts/pytorch-ignite-distributed/horovod_whole.png
  apps/labs/public/posts/pytorch-ignite-distributed/ignite_logo_mixed.png
  apps/labs/public/posts/pytorch-ignite-distributed/ignite_vs_ddp_autodataloader.png
  apps/labs/public/posts/pytorch-ignite-distributed/ignite_vs_ddp_automodel.png
  apps/labs/public/posts/pytorch-ignite-distributed/ignite_vs_ddp_autooptim.png
  apps/labs/public/posts/pytorch-ignite-distributed/ignite_vs_ddp_whole.png
  apps/labs/public/posts/pytorch-ignite-distributed/xla_whole.png
Labels: labs 🔭, type: content 📝

#600 [CONS BLOG] Panel/Holoviews Learning Aid
  apps/consulting/posts/panel-holoviews-learning-aid.md
  apps/consulting/public/posts/panel-holoviews-learning-aid/panelholo-img-1.png
  apps/consulting/public/posts/panel-holoviews-learning-aid/panelholo-img-2.png
  apps/consulting/public/posts/panel-holoviews-learning-aid/panelholo-img-3.png
  apps/consulting/public/posts/panel-holoviews-learning-aid/panelholo-img-4.png
  apps/consulting/public/posts/panel-holoviews-learning-aid/panelholo-img-5.png
  apps/consulting/public/posts/panel-holoviews-learning-aid/panelholo-img-6.png
  apps/consulting/public/posts/panel-holoviews-learning-aid/panelholo-img-7.png
  apps/consulting/public/posts/panel-holoviews-learning-aid/panelholo-img-8.png
  apps/consulting/public/posts/panel-holoviews-learning-aid/panelholo-img-9.png
  apps/consulting/public/posts/panel-holoviews-learning-aid/panelholoviewsblog.png
Labels: consulting 🤝, needs: review 👀, type: content 📝, owner: Quansight

#606 [CONS BLOG] Will Python Be #1 Forever?
  apps/consulting/next.config.js
  apps/consulting/posts/python-forever.md
  apps/consulting/public/posts/python-forever/python-1-img-1.jpg
  apps/consulting/public/posts/python-forever/python-1-img-1.png
  apps/consulting/public/posts/python-forever/python-1-img-gallery.png
Labels: consulting 🤝, needs: review 👀, type: content 📝, owner: Quansight

#599 [CONS BLOG] Working Across Panel and ipywidgets
  apps/consulting/posts/working-across-panel-and-ipywidgets-ecosystems.md
  apps/consulting/public/posts/working-across-panel-and-ipywidgets-ecosystems/ipywidgets-img-1.png
  apps/consulting/public/posts/working-across-panel-and-ipywidgets-ecosystems/ipywidgets-img-2.png
  apps/consulting/public/posts/working-across-panel-and-ipywidgets-ecosystems/ipywidgets-img-3.png
  apps/consulting/public/posts/working-across-panel-and-ipywidgets-ecosystems/panellogo4x3.png
Labels: consulting 🤝, needs: review 👀, type: content 📝, owner: Quansight

#697 [CONS BLOG] PyTorch Contributions 2022
  apps/consulting/posts/a-year-in-review-quansight-s-contributions-to-pytorch-in-2021.md
  apps/consulting/posts/a-year-in-review-quansight-s-contributions-to-pytorch-in-2022.md
  apps/consulting/public/posts/logos/pytorch_logo_large.png
Labels: consulting 🤝, needs: review 👀, type: content 📝, owner: Quansight
