Repository Quansight/Quansight-website, pull requests merged in 2023-01, with the labels that each got.

#617 [FEAT] Add URL passthrough in Form component Zapier payload
  libs/shared/ui-components/src/Form/Form.tsx
  libs/shared/utils/src/sendFormData/types.ts
Labels: type: enhancement 💅🏼, consulting 🤝, area: react, owner: Quansight, area: Zapier

#618 Consulting content CHANGELOG updates
  apps/consulting/CHANGELOG.md
Labels: consulting 🤝, type: content 📝, owner: Quansight

#602 [CONS BLOG] Quick Dashboarding with Panel
  apps/consulting/posts/quick-dashboarding-with-panel.md
  apps/consulting/public/posts/quick-dashboarding-with-panel/panel-dashboard-img-1.png
  apps/consulting/public/posts/quick-dashboarding-with-panel/panellogo4x3.png
Labels: consulting 🤝, type: content 📝, owner: Quansight

#620 Release 2023-01-03
  apps/consulting/CHANGELOG.md
  libs/shared/ui-components/src/Form/Form.tsx
  libs/shared/utils/src/sendFormData/types.ts
Labels: consulting 🤝, owner: Quansight, type: maintenance 🛠

#621 [BLOG] Add post on Python packaging and workflows
  apps/labs/posts/python-packaging-where-to-next.md
  apps/labs/public/posts/python-packaging-where-to-next/team_hero.svg
  apps/labs/public/posts/python-packaging-where-to-next/unified_workflow_tool.png
Labels: labs 🔭, type: content 📝

#625 [TYPO] Add missing space in Labs packaging post
  apps/labs/posts/python-packaging-where-to-next.md
Labels: labs 🔭, type: content 📝, owner: Quansight

#627 [FEAT] Add BlogTable component
  apps/consulting/components/blog-only/BlogTable/BlogTable.tsx
  apps/consulting/components/blog-only/BlogTable/types.ts
  apps/consulting/posts/performance-for-image-processing-with-cucim.md
  apps/consulting/services/posts/blogAllowedComponents.ts
Labels: type: enhancement 💅🏼, area: design 🎨, consulting 🤝, area: react, owner: Quansight

#553 [BLOG] Add labs-status-update-may
  apps/labs/posts/labs-status-update-may.md
  apps/labs/public/posts/labs-status-update-may/blog_feature_var2.svg
  apps/labs/public/posts/labs-status-update-may/blog_hero_var1.svg
Labels: labs 🔭, type: content 📝

#550 [BLOG] Add quansight-at-scipy2019
  apps/labs/posts/quansight-at-scipy2019.md
  apps/labs/public/posts/quansight-at-scipy2019/blog_feature_org.svg
  apps/labs/public/posts/quansight-at-scipy2019/blog_hero_var2.svg
Labels: labs 🔭, type: content 📝

#549 [BLOG] Add labs-dask-update
  apps/labs/posts/labs-dask-update.md
  apps/labs/public/posts/labs-dask-update/blog_feature_var2.svg
  apps/labs/public/posts/labs-dask-update/blog_hero_var1.svg
Labels: labs 🔭, type: content 📝

#609 [BLOG] Add whats-new-in-sympy-14
  apps/labs/posts/whats-new-in-sympy-14.md
  apps/labs/public/posts/whats-new-in-sympy-14/blog_feature_org.svg
  apps/labs/public/posts/whats-new-in-sympy-14/blog_hero_org.svg
  apps/labs/public/posts/whats-new-in-sympy-14/sympy-1.3-notebook.png
  apps/labs/public/posts/whats-new-in-sympy-14/sympy-1.4-notebook-2.png
  apps/labs/public/posts/whats-new-in-sympy-14/sympy-1.4-notebook.png
Labels: labs 🔭, type: content 📝

#626 [FEAT] Add BlogCTAButton blog-only component
  apps/consulting/components/blog-only/BlogCTAButton/BlogCTAButton.tsx
  apps/consulting/components/blog-only/BlogCTAButton/types.ts
  apps/consulting/services/posts/blogAllowedComponents.ts
Labels: type: enhancement 💅🏼, area: design 🎨, consulting 🤝, area: react, owner: Quansight

#619 [CONS BLOG] Evolving QHub to Nebari
  apps/consulting/posts/evolving-qhub-to-nebari.md
  apps/consulting/public/posts/evolving-qhub-to-nebari/1-nebari-banner.svg
  apps/consulting/public/posts/evolving-qhub-to-nebari/2-nebari-cloud-architecture.svg
  apps/consulting/public/posts/evolving-qhub-to-nebari/3-nebari-how-to-contribute.png
  apps/consulting/public/posts/evolving-qhub-to-nebari/4-nebari-concept-composite.jpg
  apps/consulting/public/posts/evolving-qhub-to-nebari/5-nebari-logo-tbcrop.png
  apps/consulting/public/posts/evolving-qhub-to-nebari/5-nebari-logo.png
  apps/consulting/public/posts/evolving-qhub-to-nebari/6-nebari-help.png
  apps/consulting/public/posts/evolving-qhub-to-nebari/7-nebari-contributor-graph.png
Labels: consulting 🤝, type: content 📝, owner: Quansight

#610 [BLOG] Add joining_labs
  apps/labs/posts/joining_labs.md
  apps/labs/public/posts/joining_labs/blog_hero_var1.svg
  apps/labs/public/posts/joining_labs/community_landscape.png
  apps/labs/public/posts/joining_labs/out_of_the_window_APL_ship.jpg
Labels: labs 🔭, type: content 📝

#548 [BLOG] Add spyder-40-beta4-kite-integration-is-here
  apps/labs/posts/spyder-40-beta4-kite-integration-is-here.md
  apps/labs/public/posts/spyder-40-beta4-kite-integration-is-here/blog_feature_var2.svg
  apps/labs/public/posts/spyder-40-beta4-kite-integration-is-here/blog_hero_var1.svg
  apps/labs/public/posts/spyder-40-beta4-kite-integration-is-here/spyder-kite-completions.gif
  apps/labs/public/posts/spyder-40-beta4-kite-integration-is-here/spyder-kite-hover.png
Labels: labs 🔭, type: content 📝

#546 [BLOG] Add quansight-labs-work-update-for-september-2019
  apps/labs/posts/quansight-labs-work-update-for-september-2019.md
  apps/labs/public/posts/quansight-labs-work-update-for-september-2019/blog_feature_org.svg
  apps/labs/public/posts/quansight-labs-work-update-for-september-2019/blog_hero_org.svg
Labels: labs 🔭, type: content 📝

#545 [BLOG] Add files-improvements
  apps/labs/posts/files-improvements.md
  apps/labs/public/posts/files-improvements/absolute-path.png
  apps/labs/public/posts/files-improvements/blog_feature_org.svg
  apps/labs/public/posts/files-improvements/blog_hero_var1.svg
  apps/labs/public/posts/files-improvements/copy-path.png
  apps/labs/public/posts/files-improvements/file-associations.png
  apps/labs/public/posts/files-improvements/file-extensions.png
  apps/labs/public/posts/files-improvements/header-menu.png
  apps/labs/public/posts/files-improvements/multiple-paths.png
  apps/labs/public/posts/files-improvements/open-externally.png
  apps/labs/public/posts/files-improvements/open-with.png
  apps/labs/public/posts/files-improvements/pane-menu.png
  apps/labs/public/posts/files-improvements/relative-path.png
  apps/labs/public/posts/files-improvements/select-files.png
  apps/labs/public/posts/files-improvements/single-click.png
Labels: labs 🔭, type: content 📝

#543 [BLOG] Add uarray-attempting-to-move-the-ecosystem-forward
  apps/labs/posts/uarray-attempting-to-move-the-ecosystem-forward.md
  apps/labs/public/posts/uarray-attempting-to-move-the-ecosystem-forward/blog_feature_var1.svg
  apps/labs/public/posts/uarray-attempting-to-move-the-ecosystem-forward/blog_hero_var2.svg
Labels: labs 🔭, type: content 📝

#551 [BLOG] Add tdk-partners-with-quansight-labs
  apps/labs/posts/tdk-partners-with-quansight-labs.md
  apps/labs/public/posts/tdk-partners-with-quansight-labs/blog_feature_var1.svg
  apps/labs/public/posts/tdk-partners-with-quansight-labs/blog_hero_org.svg
  apps/labs/public/posts/tdk-partners-with-quansight-labs/spyder-git-status.png
  apps/labs/public/posts/tdk-partners-with-quansight-labs/spyder-project-creation.png
  apps/labs/public/posts/tdk-partners-with-quansight-labs/spyder-reports.png
Labels: labs 🔭, type: content 📝

#511 Community opensource funded development
  apps/labs/posts/community-opensource-funded-development.md
  apps/labs/public/posts/community-opensource-funded-development/blog_hero_var2.svg
  apps/labs/public/posts/community-opensource-funded-development/feature.png
  apps/labs/public/posts/community-opensource-funded-development/roadmap_screenshot_numpy_scipy.png
Labels: labs 🔭, type: content 📝

#510 [BLOG] Add pytorch-tensoriterator-internals-update
  apps/labs/posts/pytorch-tensoriterator-internals-update.md
  apps/labs/public/posts/pytorch-tensoriterator-internals-update/blog_feature_var2.svg
  apps/labs/public/posts/pytorch-tensoriterator-internals-update/blog_hero_org.svg
Labels: labs 🔭, type: content 📝

#512 [BLOG] Add introducing-code-generator-v020
  apps/labs/posts/introducing-code-generator-v020.md
  apps/labs/public/posts/introducing-code-generator-v020/blog_feature_var2.svg
  apps/labs/public/posts/introducing-code-generator-v020/blog_hero_var1.svg
Labels: labs 🔭, type: content 📝

#514 [BLOG] Add not-a-checklist
  apps/labs/posts/not-a-checklist.md
  apps/labs/public/posts/not-a-checklist/blog_feature_var1.svg
  apps/labs/public/posts/not-a-checklist/blog_hero_org.svg
Labels: labs 🔭, type: content 📝

#513 [BLOG] Add spyder4-variable-explorer
  apps/labs/posts/Spyder4-variable-explorer.md
  apps/labs/public/posts/Spyder4-variable-explorer/blog_feature_org.svg
  apps/labs/public/posts/Spyder4-variable-explorer/blog_hero_var2.svg
  apps/labs/public/posts/Spyder4-variable-explorer/exclude-callables-modules.png
  apps/labs/public/posts/Spyder4-variable-explorer/filter-variables.png
  apps/labs/public/posts/Spyder4-variable-explorer/multi-index-support.png
  apps/labs/public/posts/Spyder4-variable-explorer/python-viewer-metadata.png
  apps/labs/public/posts/Spyder4-variable-explorer/python-viewer.png
  apps/labs/public/posts/Spyder4-variable-explorer/refresh.png
  apps/labs/public/posts/Spyder4-variable-explorer/set-support.png
  apps/labs/public/posts/Spyder4-variable-explorer/table-headings.png
  apps/labs/public/posts/Spyder4-variable-explorer/view-object-explorer.png
Labels: labs 🔭, type: content 📝

#515 [BLOG] Add low-code-workshop
  apps/labs/posts/low-code-workshop.md
  apps/labs/public/posts/low-code-workshop/blog_feature_org.svg
  apps/labs/public/posts/low-code-workshop/blog_hero_var2.svg
Labels: labs 🔭, type: content 📝

#518 [BLOG] Add a-step-towards-educating-with-spyder
  apps/labs/posts/a-step-towards-educating-with-spyder.md
  apps/labs/public/posts/a-step-towards-educating-with-spyder/blog_feature_var2.svg
  apps/labs/public/posts/a-step-towards-educating-with-spyder/blog_hero_var1.svg
Labels: labs 🔭, type: content 📝

#509 [BLOG] Add packaging_painpoints_in_2021
  apps/labs/posts/packaging_painpoints_in_2021.md
  apps/labs/public/posts/packaging_painpoints_in_2021/blog_feature_org.svg
  apps/labs/public/posts/packaging_painpoints_in_2021/blog_hero_var1.svg
Labels: labs 🔭, type: content 📝

#528 [BLOG] Add writing-docs-is-not-just-writing-docs
  apps/labs/posts/writing-docs-is-not-just-writing-docs.md
  apps/labs/public/posts/writing-docs-is-not-just-writing-docs/blog_feature_var1.svg
  apps/labs/public/posts/writing-docs-is-not-just-writing-docs/blog_hero_var2.svg
Labels: labs 🔭, type: content 📝

#530 introducing-ndindex-a-python-library-for-manipulating-indices-of-ndarrays
  apps/labs/posts/introducing-ndindex-a-python-library-for-manipulating-indices-of-ndarrays.md
  apps/labs/public/posts/introducing-ndindex-a-python-library-for-manipulating-indices-of-ndarrays/blog_feature_var1.svg
  apps/labs/public/posts/introducing-ndindex-a-python-library-for-manipulating-indices-of-ndarrays/blog_hero_org.svg
Labels: labs 🔭, type: content 📝

#533 [BLOG] Add whats-next-for-pydatasparse
  apps/labs/posts/whats-next-for-pydatasparse.md
  apps/labs/public/posts/whats-next-for-pydatasparse/blog_feature_var1.svg
  apps/labs/public/posts/whats-next-for-pydatasparse/blog_hero_var1.svg
Labels: labs 🔭, type: content 📝

#608 [BLOG] Add python-library-function-usage
  apps/labs/posts/python-library-function-usage.md
  apps/labs/public/posts/python-library-function-usage/blog_feature_var2.svg
  apps/labs/public/posts/python-library-function-usage/blog_hero_var2.svg
Labels: labs 🔭, type: content 📝

#535 [BLOG] Add metadsl-talk
  apps/labs/posts/metadsl-talk.md
  apps/labs/public/posts/metadsl-talk/blog_feature_var2.svg
  apps/labs/public/posts/metadsl-talk/blog_hero_var1.svg
Labels: labs 🔭, type: content 📝

#525 [BLOG] Add introducing-versioned-hdf5
  apps/labs/posts/introducing-versioned-hdf5.md
  apps/labs/public/posts/introducing-versioned-hdf5/black_logo_417x125.png
  apps/labs/public/posts/introducing-versioned-hdf5/blog_hero_var2.svg
  apps/labs/public/posts/introducing-versioned-hdf5/feature.png
  apps/labs/public/posts/introducing-versioned-hdf5/hdf5_structure4_resized.png
Labels: labs 🔭, type: content 📝

#607 [BLOG] Add release-spyder-4beta2
  apps/labs/posts/release-spyder-4beta2.md
  apps/labs/public/posts/release-spyder-4beta2/blog_feature_var1.svg
  apps/labs/public/posts/release-spyder-4beta2/blog_hero_var1.svg
  apps/labs/public/posts/release-spyder-4beta2/spyder-doc-prefs.png
  apps/labs/public/posts/release-spyder-4beta2/spyder-hover-hint-calltip.png
  apps/labs/public/posts/release-spyder-4beta2/spyder-plots.png
  apps/labs/public/posts/release-spyder-4beta2/spyder-preferences-lsp.png
  apps/labs/public/posts/release-spyder-4beta2/spyder-qdarkstyle.png
Labels: labs 🔭, type: content 📝

#531 [BLOG] Add spyder-4-acknowledgements
  apps/labs/posts/spyder-4-acknowledgements.md
  apps/labs/public/posts/spyder-4-acknowledgements/blog_feature_org.svg
  apps/labs/public/posts/spyder-4-acknowledgements/blog_hero_var1.svg
Labels: labs 🔭, type: content 📝

#529 [BLOG] Add three-months-and-having-fun
  apps/labs/posts/three-months-and-having-fun.md
  apps/labs/public/posts/three-months-and-having-fun/blog_feature_org.svg
  apps/labs/public/posts/three-months-and-having-fun/blog_hero_var1.svg
Labels: labs 🔭, type: content 📝

#508 [BLOG] Add re-engineering cicd pipelines for scipy
  apps/labs/posts/re-engineering-cicd-pipelines-for-scipy.md
  apps/labs/public/posts/re-engineering-cicd-pipelines-for-scipy/ci-cd-caching.jpeg
  apps/labs/public/posts/re-engineering-cicd-pipelines-for-scipy/feature.png
  apps/labs/public/posts/re-engineering-cicd-pipelines-for-scipy/hero.png
  apps/labs/public/posts/re-engineering-cicd-pipelines-for-scipy/life-is-good-github-actions.png
  apps/labs/public/posts/re-engineering-cicd-pipelines-for-scipy/re-engineering-ci-cd-scipy.png
  apps/labs/public/posts/re-engineering-cicd-pipelines-for-scipy/scipy-ci-matrix-strategy.png
  apps/labs/public/posts/re-engineering-cicd-pipelines-for-scipy/scipy-github-actions-act-usage.png
Labels: labs 🔭, type: content 📝

#547 [BLOG] Add ruby-wrappers-for-the-xnd-project
  apps/labs/posts/ruby-wrappers-for-the-xnd-project.mdx
  apps/labs/public/posts/ruby-wrappers-for-the-xnd-project/blog_feature_var1.svg
  apps/labs/public/posts/ruby-wrappers-for-the-xnd-project/blog_hero_var1.svg
Labels: labs 🔭, type: content 📝

#585 [CONS BLOG] Big four dashboarding tools
  apps/consulting/posts/dash-voila-panel-streamlit-our-thoughts-on-the-big-four-dashboarding-tools.md
  apps/consulting/public/posts/dash-voila-panel-streamlit-our-thoughts-on-the-big-four-dashboarding-tools/big-four-img-1.png
  apps/consulting/public/posts/dash-voila-panel-streamlit-our-thoughts-on-the-big-four-dashboarding-tools/big-four-img-2.png
  apps/consulting/public/posts/dash-voila-panel-streamlit-our-thoughts-on-the-big-four-dashboarding-tools/big-four-img-3.png
  apps/consulting/public/posts/dash-voila-panel-streamlit-our-thoughts-on-the-big-four-dashboarding-tools/big-four-img-4.png
Labels: consulting 🤝, type: content 📝, owner: Quansight

#587 [CONS BLOG] PyTorch 2021 Contributions
  apps/consulting/posts/a-year-in-review-quansight-s-contributions-to-pytorch-in-2021.md
  apps/consulting/public/posts/a-year-in-review-quansight-s-contributions-to-pytorch-in-2021/pytorch_logo_large.png
Labels: consulting 🤝, type: content 📝, owner: Quansight

#516 [BLOG] Add numpy-accessibility-guidelines
  apps/labs/posts/numpy-accessibility-guidelines.md
  apps/labs/public/posts/numpy-accessibility-guidelines/color_deficiency.png
  apps/labs/public/posts/numpy-accessibility-guidelines/compliance_levels.png
  apps/labs/public/posts/numpy-accessibility-guidelines/disability_not_recognized.png
  apps/labs/public/posts/numpy-accessibility-guidelines/feature.png
  apps/labs/public/posts/numpy-accessibility-guidelines/header_image.png
  apps/labs/public/posts/numpy-accessibility-guidelines/hero.png
  apps/labs/public/posts/numpy-accessibility-guidelines/situation_disability.png
  apps/labs/public/posts/numpy-accessibility-guidelines/types_of_disabilities.png
  apps/labs/public/posts/numpy-accessibility-guidelines/venn_diagram.png
  apps/labs/public/posts/numpy-accessibility-guidelines/wave_extension.png
Labels: labs 🔭, type: content 📝

#534 [BLOG] Add spyder-terminal
  apps/labs/posts/spyder-terminal.md
  apps/labs/public/posts/spyder-terminal/blog_hero_var2.svg
  apps/labs/public/posts/spyder-terminal/cursor-style.png
  apps/labs/public/posts/spyder-terminal/shells.png
  apps/labs/public/posts/spyder-terminal/shortcuts.png
  apps/labs/public/posts/spyder-terminal/terminal-colors.gif
Labels: labs 🔭, type: content 📝

#642 [CONS BLOG] Apply `<base target="_blank>` to three posts
  apps/consulting/posts/performance-for-image-processing-with-cucim.md
  apps/consulting/posts/quick-dashboarding-with-panel.md
  apps/consulting/posts/why-we-are-excited-about-jupyterlab-3-0-dynamic-extensions.md
Labels: consulting 🤝, type: content 📝, owner: Quansight

#643 [MAINT] Set Brian as CONS BLOG codeowner
  .github/CODEOWNERS
Labels: consulting 🤝, owner: Quansight, type: maintenance 🛠
