Repository Quansight/Quansight-website, pull requests merged in 2023-06, with the labels that each got.

#735 edit readme: change preview "banner" to "overlay"
  README.md
Labels: area: Storyblok

#736 [CONS] Update Consulting CHANGELOG.md
  apps/consulting/CHANGELOG.md
Labels: consulting 🤝, type: content 📝, owner: Quansight

#737 Release 2023-06-01
  README.md
  apps/consulting/CHANGELOG.md
  apps/consulting/components/BlokProvider/componentsMap.ts
  apps/consulting/components/BlokProvider/mappers/getVideoProps.ts
  apps/consulting/components/BlokProvider/types.ts
  apps/consulting/components/BlokProvider/utils/getPropsByType.ts
  apps/consulting/types/storyblok/bloks/rawBlok.ts
  apps/consulting/types/storyblok/bloks/video.ts
  apps/labs/CHANGELOG.md
  apps/labs/components/BlokProvider/componentsMap.ts
  apps/labs/components/BlokProvider/mappers/getVideoProps.ts
  apps/labs/components/BlokProvider/types.ts
  apps/labs/components/BlokProvider/utils/getPropsByType.ts
  apps/labs/types/storyblok/bloks/rawBlock.ts
  apps/labs/types/storyblok/bloks/video.ts
  libs/shared/ui-components/src/Video/Video.tsx
  libs/shared/ui-components/src/Video/VideoThumbnail.tsx
  libs/shared/ui-components/src/Video/types.ts
  libs/shared/ui-components/src/index.ts
  package-lock.json
  package.json
Labels: type: release 🏷

#733 [FEAT] Add social card tags
  apps/consulting/pages/[slug]/index.tsx
  apps/consulting/pages/about-us/index.tsx
  apps/consulting/pages/index.tsx
  apps/consulting/pages/library/index.tsx
  apps/consulting/pages/nebari-services.tsx
  apps/consulting/pages/post/[slug].tsx
  apps/labs/pages/[slug]/index.tsx
  apps/labs/pages/blog/[slug].tsx
  apps/labs/pages/blog/index.tsx
  apps/labs/pages/index.tsx
  apps/labs/pages/team/index.tsx
  libs/shared/ui-components/src/SocialCard/SocialCard.tsx
  libs/shared/ui-components/src/SocialCard/types.ts
  libs/shared/ui-components/src/index.ts
Labels: type: enhancement 💅🏼, labs 🔭, consulting 🤝, area: react, owner: Quansight, status: in progress 🏗

#743 Release 20230620
  README.md
  apps/consulting/pages/[slug]/index.tsx
  apps/consulting/pages/about-us/index.tsx
  apps/consulting/pages/index.tsx
  apps/consulting/pages/library/index.tsx
  apps/consulting/pages/nebari-services.tsx
  apps/consulting/pages/post/[slug].tsx
  apps/labs/pages/[slug]/index.tsx
  apps/labs/pages/blog/[slug].tsx
  apps/labs/pages/blog/index.tsx
  apps/labs/pages/index.tsx
  apps/labs/pages/team/index.tsx
  libs/shared/ui-components/src/SocialCard/SocialCard.tsx
  libs/shared/ui-components/src/SocialCard/types.ts
  libs/shared/ui-components/src/index.ts
Labels: type: release 🏷

#744 update labs blog to use the blog post image and alt for social cards
  README.md
  apps/labs/pages/blog/[slug].tsx
Labels: type: enhancement 💅🏼, area: design 🎨, labs 🔭, area: react

#747 Add blogpost about Numba dynamic exceptions
  apps/labs/posts/numba-dynamic-exceptions.md
  apps/labs/public/posts/numba-dynamic-exceptions/diagram.png
Labels: labs 🔭, needs: review 👀, type: content 📝
