Repository Quansight/Quansight-website, pull requests merged in 2023-02, with the labels that each got.

#604 [CONS BLOG] Announcing QHub
  apps/consulting/posts/announcing-qhub.md
  apps/consulting/posts/evolving-qhub-to-nebari.md
  apps/consulting/public/posts/announcing-qhub/qhub-img-1.png
  apps/consulting/public/posts/announcing-qhub/qhub-img-2.png
  apps/consulting/public/posts/announcing-qhub/qhub-img-3.png
  apps/consulting/public/posts/announcing-qhub/qhub-img-4.png
  apps/consulting/public/posts/announcing-qhub/qhub-img-5.png
  apps/consulting/public/posts/announcing-qhub/qhub-img-6.png
Labels: consulting 🤝, type: content 📝, owner: Quansight

#644 [MAINT] Update maintainers/reviewers per #630
  .github/CODEOWNERS
  README.md
Labels: labs 🔭, consulting 🤝, owner: Quansight, type: maintenance 🛠

#520 [BLOG] Add welcome-tania-allard-as-labs-codirector
  apps/labs/posts/welcome-tania-allard-as-labs-codirector.md
  apps/labs/public/posts/welcome-tania-allard-as-labs-codirector/blog_feature_var1.svg
  apps/labs/public/posts/welcome-tania-allard-as-labs-codirector/blog_hero_var1.svg
  apps/labs/public/posts/welcome-tania-allard-as-labs-codirector/dataapis_ibis_sparse.png
  apps/labs/public/posts/welcome-tania-allard-as-labs-codirector/numpy_scipy_jlab_spyder_logos.png
  apps/labs/public/posts/welcome-tania-allard-as-labs-codirector/tania_allard.jpg
Labels: labs 🔭, type: content 📝, status: merge ready ✨

#570 ENH - Update README
  README.md
Labels: area: documentation 📖, type: enhancement 💅🏼, needs: review 👀

#649 [CONS BLOG] Add UTMs for links to nebari.dev from the 'Announcing QHub' post
  apps/consulting/posts/announcing-qhub.md
Labels: consulting 🤝, type: content 📝, owner: Quansight

#645 Annual report pdf tracking
  apps/labs/next.config.js
  apps/labs/pages/api/annual-report.pdf.ts
Labels: area: assets 📸, labs 🔭, consulting 🤝, needs: review 👀, area: Storyblok

#592 [CONS BLOG] Reinforcement Learning
  apps/consulting/posts/exploring-reinforcement-learning.md
  apps/consulting/public/posts/exploring-reinforcement-learning/.gitkeep
  apps/consulting/public/posts/exploring-reinforcement-learning/reinf_learn_diagram_rescale.svg
  apps/consulting/public/posts/exploring-reinforcement-learning/reinf_learn_preview.webp
  apps/consulting/public/posts/exploring-reinforcement-learning/reinf_learning.png
Labels: consulting 🤝, needs: review 👀, type: content 📝, owner: Quansight

#593 [CONS BLOG] Up and Running with Prefect
  apps/consulting/posts/up-and-running-with-prefect.md
  apps/consulting/public/posts/up-and-running-with-prefect/prefect-img-1.png
  apps/consulting/public/posts/up-and-running-with-prefect/prefect-img-2.png
  apps/consulting/public/posts/up-and-running-with-prefect/prefect-img-3.png
  apps/consulting/public/posts/up-and-running-with-prefect/prefect-img-4.png
Labels: consulting 🤝, type: content 📝, owner: Quansight

#669 [CONTENT] Add correct Storyblok asset URL for Labs 2022 report into redirect API
  apps/labs/pages/api/annual-report.pdf.ts
Labels: area: assets 📸, labs 🔭, type: content 📝, owner: Quansight

#651 [BLOG] Add Quansight Labs 2022 Annual Report
  apps/labs/posts/announcing-labs-annual-report-2022.md
  apps/labs/public/posts/announcing-labs-annual-report-2022/annual-report-infographic.jpg
  apps/labs/public/posts/announcing-labs-annual-report-2022/featured.svg
  apps/labs/public/posts/announcing-labs-annual-report-2022/hero-desktop.svg
  apps/labs/public/posts/announcing-labs-annual-report-2022/hero-mobile.svg
  apps/labs/public/posts/announcing-labs-annual-report-2022/hero-tablet.svg
Labels: labs 🔭, needs: review 👀, type: content 📝

#670 Release 2023-02-15 (Labs 2022 Report Launch)
  apps/consulting/CHANGELOG.md
  apps/labs/CHANGELOG.md
  apps/labs/pages/api/annual-report.pdf.ts
  apps/labs/posts/announcing-labs-annual-report-2022.md
  apps/labs/public/posts/announcing-labs-annual-report-2022/annual-report-infographic.jpg
  apps/labs/public/posts/announcing-labs-annual-report-2022/featured.svg
  apps/labs/public/posts/announcing-labs-annual-report-2022/hero-desktop.svg
  apps/labs/public/posts/announcing-labs-annual-report-2022/hero-mobile.svg
  apps/labs/public/posts/announcing-labs-annual-report-2022/hero-tablet.svg
Labels: labs 🔭, consulting 🤝, type: content 📝, owner: Quansight

#601 [CONS BLOG] Extending Numba Types
  apps/consulting/posts/extending-numba-types-for-clean-fast-code.md
  apps/consulting/public/posts/extending-numba-types-for-clean-fast-code/numba-logo.jpg
Labels: consulting 🤝, needs: review 👀, type: content 📝, owner: Quansight

#675 Update Consulting content CHANGELOG
  apps/consulting/CHANGELOG.md
Labels: consulting 🤝, type: content 📝, owner: Quansight

#594 [CONS BLOG] Acceleration in Python
  apps/consulting/posts/acceleration-in-python-which-is-right-for-your-project.md
  apps/consulting/public/posts/acceleration-in-python-which-is-right-for-your-project/acceleration-img-1.jpg
  apps/consulting/public/posts/acceleration-in-python-which-is-right-for-your-project/pythonacc.png
Labels: consulting 🤝, needs: review 👀, type: content 📝, owner: Quansight

#676 [MAINT] Update redirect to v2 of Labs 2022 report
  apps/labs/pages/api/annual-report.pdf.ts
Labels: area: assets 📸, labs 🔭, owner: Quansight, type: maintenance 🛠

#522 [BLOG] Add versioned-hdf5-performance
  apps/labs/posts/versioned-hdf5-performance.md
  apps/labs/public/posts/versioned-hdf5-performance/black_logo_417x125.png
  apps/labs/public/posts/versioned-hdf5-performance/blog_hero_var1.svg
  apps/labs/public/posts/versioned-hdf5-performance/create_test1.png
  apps/labs/public/posts/versioned-hdf5-performance/create_test2.png
  apps/labs/public/posts/versioned-hdf5-performance/create_test3.png
  apps/labs/public/posts/versioned-hdf5-performance/create_test4.png
  apps/labs/public/posts/versioned-hdf5-performance/create_test5.png
  apps/labs/public/posts/versioned-hdf5-performance/feature.png
  apps/labs/public/posts/versioned-hdf5-performance/filesizes.png
  apps/labs/public/posts/versioned-hdf5-performance/filesizes_test5.png
  apps/labs/public/posts/versioned-hdf5-performance/latestread.png
  apps/labs/public/posts/versioned-hdf5-performance/legend.png
  apps/labs/public/posts/versioned-hdf5-performance/seqread.png
  apps/labs/public/posts/versioned-hdf5-performance/write_times_test1.png
  apps/labs/public/posts/versioned-hdf5-performance/write_times_test2.png
  apps/labs/public/posts/versioned-hdf5-performance/write_times_test3.png
  apps/labs/public/posts/versioned-hdf5-performance/write_times_test4.png
  apps/labs/public/posts/versioned-hdf5-performance/write_times_test5.png
Labels: labs 🔭, type: content 📝

#523 [BLOG] Add design-of-the-versioned-hdf5-library
  apps/labs/posts/design-of-the-versioned-hdf5-library.md
  apps/labs/public/posts/design-of-the-versioned-hdf5-library/black_logo_417x125.png
  apps/labs/public/posts/design-of-the-versioned-hdf5-library/blog_hero_var1.svg
  apps/labs/public/posts/design-of-the-versioned-hdf5-library/versioned-hdf5-design-1.svg
  apps/labs/public/posts/design-of-the-versioned-hdf5-library/versioned-hdf5-design-2.svg
Labels: area: accessibility ♿️, type: content 📝
