Repository Quansight/Quansight-website, pull requests merged in 2023-04, with the labels that each got.

#701 [CONS CONTENT] CHANGELOG updates - starting 24 Mar 2023
  apps/consulting/CHANGELOG.md
Labels: consulting 🤝, type: content 📝, owner: Quansight

#715 [BACK-MERGE] Bring the hotfixed pseudocode post pub date back into `develop`
  apps/consulting/posts/openai-pseudocode.md
Labels: consulting 🤝, owner: Quansight, type: maintenance 🛠

#717 [CONS CONTENT] CHANGELOG updates for 2023-04-11 and following
  apps/consulting/CHANGELOG.md
Labels: consulting 🤝, type: content 📝

#719 On Nebari Services page, more hit area on call-to-action buttons
  apps/consulting/pages/nebari-services.tsx
Labels: type: bug 🐛, consulting 🤝, area: react, owner: Quansight

#720 On Nebari Services page, fix background color of last block
  apps/consulting/pages/nebari-services.tsx
Labels: nebari-services

#725 Some cosmetic adjustments to Nebari Services page
  apps/consulting/pages/nebari-services.tsx
  apps/consulting/pages/styles.css
Labels: nebari-services

#637 [BLOG] Update putting-out-the-fire images
  apps/labs/posts/putting-out-the-fire.md
  apps/labs/public/posts/putting-out-the-fire/featured_jlabaccess2.png
  apps/labs/public/posts/putting-out-the-fire/hero_jlabaccess2.png
  apps/labs/public/posts/putting-out-the-fire/jlabaccess2.png
Labels: labs 🔭, type: content 📝

#730 [CONS CONTENT] Apply Nebari services copy edits
  apps/consulting/pages/nebari-services.tsx
Labels: consulting 🤝, type: content 📝, owner: Quansight

#729 [CONS CONTENT] Update Consulting CHANGELOG.md (2023-04-27 and following)
  apps/consulting/CHANGELOG.md
Labels: consulting 🤝, type: content 📝, owner: Quansight
