Repository Quansight/Quansight-website, pull requests merged in 2024-03, with the labels that each got.

#830 [BLOG] Quansight Labs Annual Report 2023
  apps/labs/posts/labs-annual-report-2023.md
  apps/labs/public/posts/labs-annual-report-2023/hero-desktop.png
  apps/labs/public/posts/labs-annual-report-2023/hero-mobile.png
  apps/labs/public/posts/labs-annual-report-2023/hero-tablet.png
  apps/labs/public/posts/labs-annual-report-2023/labs-annual-report-2023-infographic.png
  apps/labs/public/posts/labs-annual-report-2023/thumbnail.png
Labels: labs 🔭, type: content 📝

#832 Add Storyblok homepage updates to CHANGELOG
  apps/labs/CHANGELOG.md
Labels: labs 🔭, type: maintenance 🛠

#833 Release 2024-03-01
  apps/labs/CHANGELOG.md
  apps/labs/next.config.js
  apps/labs/pages/api/annual-report.pdf.ts
  apps/labs/posts/labs-annual-report-2023.md
  apps/labs/public/posts/labs-annual-report-2023/hero-desktop.png
  apps/labs/public/posts/labs-annual-report-2023/hero-mobile.png
  apps/labs/public/posts/labs-annual-report-2023/hero-tablet.png
  apps/labs/public/posts/labs-annual-report-2023/labs-annual-report-2023-infographic.png
  apps/labs/public/posts/labs-annual-report-2023/thumbnail.png
Labels: type: release 🏷

#835 Update annual report PDF
  apps/labs/pages/api/annual-report.pdf.ts
Labels: labs 🔭

#836 Release 2024-03-07
  apps/labs/pages/api/annual-report.pdf.ts
Labels: type: release 🏷

#838 Simplify and clarify local dev instructions in README
  README.md
Labels: type: maintenance 🛠
