Repository Quansight/Quansight-website, pull requests merged in 2024-09, with the labels that each got.

#877 [BLOG] Pydata/Sparse: Maintenance and docs overhaul
  apps/labs/posts/pydata-sparse-maintenance-and-docs-overhaul.md
  apps/labs/public/posts/pydata-sparse-maintenance-and-docs-overhaul/featured.png
  apps/labs/public/posts/pydata-sparse-maintenance-and-docs-overhaul/hero.svg
  apps/labs/public/posts/pydata-sparse-maintenance-and-docs-overhaul/screen.png
Labels: type: content 📝

#875 [BLOG] Create Announcing Scientific Python Accessibility Events
  apps/labs/posts/announcing-scientific-python-accessibility-events.md
  apps/labs/public/posts/announcing-scientific-python-accessibility-events/blog_feature_1.png
Labels: labs 🔭, type: content 📝

#876 fix: add Internship tag to relevant blog posts
  apps/labs/posts/array-libraries-interoperability.md
  apps/labs/posts/close-encounter-with-pandas-and-the-jedis-of-open-source.md
  apps/labs/posts/code-generator-and-nebari.md
  apps/labs/posts/conda-grayskull-packaging.md
  apps/labs/posts/conda-on-colaboratory.md
  apps/labs/posts/dataframe-interchange-protocol-and-the-vaex-library.md
  apps/labs/posts/doctesting-for-pydata-libraries.md
  apps/labs/posts/integrating-hypothesis-into-sympy.md
  apps/labs/posts/interchange-dataframe-protocol-for-cudf.md
  apps/labs/posts/introducing-intern-cohort-2022.md
  apps/labs/posts/nebari-typer-cli.md
  apps/labs/posts/numba-polynomial-support.md
  apps/labs/posts/numpy-python-api-cleanup.md
  apps/labs/posts/numpy_benchmarking_blog.md
  apps/labs/posts/re-engineering-cicd-pipelines-for-scipy.md
  apps/labs/posts/sangho-internship-blogpost.md
  apps/labs/posts/scipy-array-api.md
  apps/labs/posts/zoom-a11y-jupyterlab.md
Labels: labs 🔭
